<div class="feedback-item">
    <div class="info-side">
        <img src="/assets/images/user.png" alt="" class="avt" />
        <p class="username">Random User</p>
        <p class="rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </p>
        <p class="time">19/12/2023 20:12</p>
    </div>
    <div class="cmt-side">
        <p>Chất lượng sách oke</p>
    </div>
</div>