<div class="nav">
  <div class="top-nav">
    <span class="welcom">Welcom to SixDucks's books purchasing website</span>
    <div class="top-nav-button">
      <a href="/">Logout</a>
    </div>
  </div>
  <div class="bot-nav">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="" draggable="false" />
    </div>
    <div class="search-area">
      <input type="text" name="search" id="search" placeholder="Tìm truyện" />
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div class="bot-nav-button">
      <div class="cart">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </div>
      <div class="user">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="toolbar">
    <div class="book-upload">
      <div>
        <img src="/assets/images/book.png" alt="" />
        Đăng bán truyện
      </div>
    </div>
    <div class="chat-button">
      <a> Trò chuyện </a>
    </div>
  </div>
</div>
<div class="scrolltop"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>

<script>
    function makeSearch(searchStr) {
        if (searchStr != null && searchStr != '') {
            location.href = "/MainPage" + "?keyword=" + searchStr;
        }
        else {
            location.href = "/MainPage";
        }
    }

    $.get("/Login/GetSession", function (response) {
        $(".fa-search").click(function () {
            makeSearch($("#search").val());
        });

        $("#search").keypress(function (event) {
            if (event.key == "Enter") {
                event.preventDefault();
                makeSearch($("#search").val());
            }
        });

        if (response.type == 0) {
            $(".toolbar").hide();
        } else if (response.type == 1) {
            $(".bot-nav .cart").hide();
        };

        $(".bot-nav .logo").click(function () {
            location.href = "/MainPage";
        });

        $(".bot-nav .cart").click(function () {
            //alert(response.id);
            location.href = "/Cart";
        });

        $(".bot-nav .user").click(function () {
            //alert(response.id);
            location.href = "/UserInfo";
        });

        $(".book-upload").click(function () {
            $(".mainpage-upload-comic-form").css("display", "flex");
            $("body, html").css("overflow", "hidden");
        });

        $(".chat-button").click(function () {
            location.href = "/Chat/Seller";
        });

        $(window).scroll(function () {
            $('.scrolltop').css("display", "flex");
            if ($(this).scrollTop() > 100) {
                $('.scrolltop').fadeIn();
            } else {
                $('.scrolltop').fadeOut();
            }
        });

        // Scroll to the top when the button is clicked
        $('.scrolltop').click(function () {
            $('html, body').animate({ scrollTop: 0 }, '300');
        });
    });
</script>
