<div class="nav">
  <div class="top-nav">
    <span class="welcom">Welcom to SixDucks's books purchasing website</span>
    <div class="top-nav-button">
      <a href="#">Contact Us</a>
      <a href="Login">Logout</a>
    </div>
  </div>
  <div class="bot-nav">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="" draggable="false" />
    </div>
    <div class="search-area">
      <input type="text" name="search" id="search" placeholder="Tìm truyện" />
      <img src="/assets/images/search.png" alt="" />
    </div>
    <div class="bot-nav-button">
      <div class="cart">
        <img src="/assets/images/cart.png" alt="" draggable="false" />
      </div>
      <div class="notification">
        <img
          src="/assets/images/notification_new.png"
          alt=""
          draggable="false"
        />
      </div>
      <div class="user">
        <img src="/assets/images/user.png" alt="" draggable="false" />
      </div>
    </div>
  </div>
  <div class="toolbar">
    <div class="menu">
      <a href="#">
        Danh mục
      </a>
    </div>
    <div class="discount-btn">
      <a href="#">
        Khuyến mãi
      </a>
    </div>
    <div class="voucher-btn">
      <a href="#">
        Voucher
      </a>
    </div>
    <div class="customer-care">
      <a href="#">
        CSKH
      </a>
    </div>
    <div class="livestream">
      <a href="#">
        Livestream
      </a>
    </div>
    <div class="book-upload">
        <a>
            Đăng bán truyện
        </a>
    </div>
  </div>
</div>

<script src="../context/upload.js"></script>