<div class="mainpage-upload-comic-form">
  <div class="upload">
    <div class="preview-side">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
      <img src="/assets/images/upload.png" alt="" class="preview-img" />
    </div>
    <header>Đăng bán sản phẩm</header>
    <form action="">
      <table>
        <tbody>
          <tr>
            <td colspan="4">
              <div>
                Thêm ảnh
                <img
                  src="/assets/images/upload.png"
                  alt=""
                  class="upload-icon"
                  id="upload-icon"
                />
                <input
                  class="file-input"
                  type="file"
                  name="file"
                  id="file"
                  accept="image/*"
                  multiple
                  hidden
                  required
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="label"><label for="name">Tên sách</label></td>
            <td class="input">
              <input type="text" name="name" id="name" required />
            </td>
            <td class="label"><label for="quantity">Số lượng</label></td>
            <td class="input">
              <input type="text" name="quantity" id="quantity" required />
            </td>
          </tr>
          <tr>
            <td class="label"><label for="category">Thể loại</label></td>
            <td class="input">
                <select name="category" id="category">
                    <option>Hài hước</option>
                    <option>Hành động</option>
                    <option>Khoa học viễn tưởng</option>
                    <option>Kinh dị</option>
                    <option>Kinh điển </option>
                    <option>Lãng mạn</option>
                    <option>Ngụ ngôn</option>
                    <option>Phiêu lưu</option>
                    <option>Siêu nhiên</option>
                    <option>Tâm linh</option>
                    <option>Thể thao</option>
                    <option>Trinh thám</option>
                    <option>Âm nhạc</option>
                    <option>Chính trị</option>
                    <option>Giáo khoa</option>
                    <option>Khoa học</option>
                    <option>Kĩ năng sống</option>
                    <option>Kiến thức</option>
                    <option>Kinh tế</option>
                    <option>Lịch sử</option>
                    <option>Nghệ thuật</option>
                    <option>Ngôn ngữ</option>
                    <option>Phê bình văn học</option>
                    <option>Phóng sự</option>
                    <option>Tâm lí</option>
                    <option>Tham khảo</option>
                    <option>Tự sự</option>
                    <option>Văn hóa</option>
                </select>
            </td>
            <td class="label"><label for="price">Giá tiền</label></td>
            <td class="input">
              <input type="text" name="price" id="price" required />
            </td>
          </tr>
          <tr>
            <td class="label"><label for="type">Danh mục</label></td>
            <td class="input">
                <select name="type" id="type">
                    <option >Sách</option>
                    <option >Tài liệu</option>
                    <option >Tiểu thuyết</option>
                    <option >Truyện dài</option>
                    <option >Truyện ngắn</option>
                    <option >Truyện tranh</option>
                </select>
            </td>
            <td class="label"><label for="publisher">Nhà xuất bản</label></td>
            <td class="input">
                <input type="text" name="publisher" id="publisher" required/>
            </td>
          </tr>
            <tr>
                <td class="label"><label for="author">Tác giả</label></td>
                <td class="input">
                    <input type="text" name="author" id="author" required/>
                </td>
                <td class="label"></td>
                <td class="input"></td>
            </tr>
        </tbody>
      </table>
    </form>
    <div class="button-form-section">
      <button type="submit" class="submit-upload">Đăng bán</button>
      <button type="button" class="cancel-upload">Hủy</button>
    </div>
  </div>
</div>
