@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>6Ducks Seller</title>
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/seller-mainpage/globals.css" />
  <link rel="stylesheet" href="/assets/styles/seller-main.css" />
  <link rel="stylesheet" href="/assets/styles/header-footer.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
  <div class="mainpage-uploadcomic">
    <div class="wrapper best-seller">
      <header>Bán chạy nhất</header>
      <div class="product-list"></div>
    </div>
    <div class="wrapper vouchers">
        <div class="today-voucher">
          <p class="header">Voucher hôm nay</p>
          <div class="voucher">
            <img src="/assets/images/voucher.png" alt="" />
            <div class="voucher-content">
              <span class="voucher-name"
                >Voucher dùng cho thể loại Trinh thám</span
              >
              <span class="voucher-value">- 30% tối đa 20k</span>
            </div>
          </div>
          <div class="voucher">
            <img src="/assets/images/voucher.png" alt="" />
            <div class="voucher-content">
              <span class="voucher-name"
                >Voucher dùng cho thể loại Thiếu nhi</span
              >
              <span class="voucher-value">- 30% tối đa 20k</span>
            </div>
          </div>
          <div class="voucher">
            <img src="/assets/images/voucher.png" alt="" />
            <div class="voucher-content">
              <span class="voucher-name"
                >Voucher dùng cho danh mục Truyện tranh</span
              >
              <span class="voucher-value">- 30% tối đa 20k</span>
            </div>
          </div>
        </div>
        <div class="free-ship">
          <p class="header">Free ship</p>
          <div class="voucher">
            <img src="/assets/images/freeship.png" alt="" />
            <div class="voucher-content">
              <span class="voucher-name">Mã Freeship</span>
              <span class="voucher-value">- 100% tối đa 40k</span>
            </div>
          </div>
          <div class="voucher">
            <img src="/assets/images/freeship.png" alt="" />
            <div class="voucher-content">
              <span class="voucher-name">Mã Freeeship (Thanh toán online)</span>
              <span class="voucher-value">- 100%</span>
            </div>
          </div>
          <div class="voucher">
            <img src="/assets/images/freeship.png" alt="" />
            <div class="voucher-content">
              <span class="voucher-name">Mã Freeship</span>
              <span class="voucher-value">- 50% tối đa 15k</span>
            </div>
          </div>
        </div>
      </div>
  </div>
  <script type="module" src="/context/seller-main.js"></script>
</body>
</html>