.mid-navbar{
    position:relative;
    width : 100%;
    height: 50px;
    background-color: #1b6392;
    z-index: 0;
    margin-top: 1px;
}

.mid-navbar .logo{
    width: 38px;
    height: 35px;
    position: absolute;
    margin-top: 9px;
    margin-left: 126px;

}

.mid-navbar .title{
        position: absolute;
        width: fit-content;
        top: 9px;
        left: 173px;
        font-family: "Public Sans-Bold", Helvetica;
        font-weight: 700;
        color: white;
        font-size: 20px;
        letter-spacing: -0.4px;
        line-height: 40px;
        white-space: nowrap;
}

.mid-navbar .searchbar {
    width: 385px;
    height: 27px;
    background-color: var(--gray-00);
    border-radius: 2px;
    position:absolute;
    left:40%;
    top:13px;
}

.mid-navbar .searchbar input {
    position:absolute;
    width: 321px;
    height: 20px;
    margin-top: 4px;
    margin-left: 20px;
    border:none;
    outline: none;
}

.mid-navbar .searchbar a{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    margin-top: 4px;
}

.mid-navbar .navbar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: absolute;
    top: 10px;
    right: 162px;
}
.mid-navbar .navbar .number{
    background-color: red;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    text-align: center;
    color:white;
}

.mid-navbar .navbar #cart .number{
    position:absolute;
    top: 0px;
    left:22px;
    z-index: 2;
}

.mid-navbar .navbar #notification .number{
    position:absolute;
    left : 74px;
    top: 0px;
    z-index: 2;
}