@{
    Layout = null;
}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="confirm-order">
      <div class="div">
        <div class="end-end">
          <img class="image" src="~/MainPage/img/image-3.png" />
          <img class="img" src="~/MainPage/img/image-4-1.png" />
          <img class="image-2" src="~/MainPage/img/image-5-1.png" />
          <img class="image-3" src="~/MainPage/img/image-6-1.png" />
          <img class="image-4" src="~/MainPage/img/image-7-1.png" />
          <img class="image-5" src="~/MainPage/img/image-8-1.png" />
        </div>
        <div class="end">
          <div class="frame">
            <p class="trinh-th-m-kinh-d-t">
              Trinh thám<br />Kinh dị<br />Tình cảm<br />Hài hước<br />Thiếu
              nhi<br />Giáo dục<br />Kinh tế<br />Khoa học
            </p>
            <div class="text-wrapper">Thể loại</div>
          </div>
          <div class="frame-2">
            <p class="truy-n-ch-truy-n">
              Truyện chữ<br />Truyện tranh<br />Sách ảnh<br />Sách chữ nổi
            </p>
            <div class="text-wrapper-2">Danh mục</div>
          </div>
          <div class="frame-3">
            <a
              href="mailto:sixducks@hcmut.edu.vn"
              target="_blank"
              rel="noopener noreferrer"
              ><div class="text-wrapper-3">sixducks@hcmut.edu.vn</div></a
            >
            <div class="text-wrapper-4">Liên hệ</div>
          </div>
          <div class="frame-4">
            <div class="logo">
              <img class="image-6" src="~/MainPage/img/image-1-1.png" />
              <div class="logo-2"><div class="CLICON">SixDucks</div></div>
            </div>
            <p class="i-h-c-qu-c-gia-TP">
              Đại học Quốc gia TP.HCM<br />Trường Đại học Bách Khoa
            </p>
          </div>
        </div>
        <div class="product">
          <div class="product-2">
            <div class="product-3">
              <div class="rating">
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star-2" src="~/MainPage/img/regular-star-8.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
              </div>
              <div class="text-wrapper-5">(1,001)</div>
              <div class="price">
                <div class="text-wrapper-6">168.000đ</div>
              </div>
              <p class="name">Muôn kiếp nhân sinh - Nguyên Phong</p>
              <img class="image-7" src="~/MainPage/img/image-10.png" />
            </div>
            <div class="product-4">
              <div class="rating">
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star-2" src="~/MainPage/img/regular-star-8.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
              </div>
              <div class="text-wrapper-5">(2,075)</div>
              <div class="price">
                <div class="text-wrapper-6">590.000đ</div>
              </div>
              <p class="name">Sherlock Holmes toàn tập (Bộ 5 cuốn)</p>
              <img class="image-7" src="~/MainPage/img/image-8.png" />
            </div>
            <div class="product-5">
              <div class="rating">
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star-2" src="~/MainPage/img/regular-star-8.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
              </div>
              <div class="text-wrapper-5">(1,589)</div>
              <div class="price"><div class="text-wrapper-6">88.000đ</div></div>
              <p class="name">Nghĩ giàu làm giàu (Tái bản 2020)</p>
              <img class="image-7" src="~/MainPage/img/image-7.png" />
            </div>
            <div class="product-6">
              <div class="rating">
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star-2" src="~/MainPage/img/regular-star-8.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
              </div>
              <div class="text-wrapper-5">(516)</div>
              <div class="price">
                <div class="text-wrapper-6">729.000đ</div>
              </div>
              <p class="name">
                Bộ sách kể chuyện cuộc đời các thiên tài (Bộ 12 cuốn)
              </p>
              <img class="image-7" src="~/MainPage/img/image-6.png" />
            </div>
            <div class="product-7">
              <div class="rating">
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star-2" src="~/MainPage/img/regular-star-8.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
              </div>
              <div class="text-wrapper-5">(1,857)</div>
              <div class="price">
                <div class="text-wrapper-6">115.000đ</div>
              </div>
              <p class="name">Sự im lặng của bầy cừu (Tái bản năm 2019)</p>
              <img class="image-7" src="~/MainPage/img/image-5.png" />
            </div>
            <div class="product-8">
              <div class="rating">
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star-2" src="~/MainPage/img/regular-star-8.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
              </div>
              <div class="text-wrapper-5">(1,951)</div>
              <div class="price"><div class="text-wrapper-6">95.000đ</div></div>
              <p class="name">Light Novel Thiên sứ nhà bên - Tập 1</p>
              <img class="image-7" src="~/MainPage/img/image-4.png" />
            </div>
            <div class="product-9">
              <div class="rating">
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star-2" src="~/MainPage/img/regular-star-8.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
              </div>
              <div class="text-wrapper-5">(1,272)</div>
              <div class="price"><div class="text-wrapper-6">30.000đ</div></div>
              <p class="name">Conan Thám tử lừng danh -&nbsp;&nbsp;Tập 100</p>
              <img class="image-7" src="~/MainPage/img/image-2.png" />
            </div>
            <div class="product-10">
              <div class="rating">
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star-2" src="~/MainPage/img/regular-star-8.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
                <img class="regular-star" src="~/MainPage/img/regular-star-6.svg" />
              </div>
              <div class="text-wrapper-5">(822)</div>
              <div class="price">
                <div class="text-wrapper-6">248.000đ</div>
              </div>
              <p class="name">Thay đổi cuộc sống với Nhân số học</p>
              <img class="image-8" src="~/MainPage/img/image.png" />
            </div>
            <div class="pagination">
              <div class="arrow-button">
                <img class="img-2" src="~/MainPage/img/regular-arrowleft-75.svg" />
              </div>
              <div class="pages">
                <div class="pagination-item">
                  <div class="text-wrapper-7">01</div>
                </div>
                <div class="element-wrapper"><div class="element">02</div></div>
                <div class="element-wrapper"><div class="element">03</div></div>
                <div class="element-wrapper"><div class="element">04</div></div>
                <div class="element-wrapper"><div class="element">05</div></div>
                <div class="element-wrapper"><div class="element">06</div></div>
              </div>
              <div class="arrow-button">
                <img class="img-2" src="~/MainPage/img/regular-arrowright-138.svg" />
              </div>
            </div>
            <p class="p">Sản phẩm đã đăng bán</p>
          </div>
        </div>
        <div class="seller">
          <div class="overlap-group">
            <div class="sign-in-popup-wrapper">
              <div class="sign-in-popup">
                <div class="log-in">
                  <div class="sign-in-to-your">Người bán</div>
                </div>
              </div>
            </div>
            <p class="tham-gia-t">
              Tham gia từ: 5/7/2021<br />Số sản phẩm đã bán: 63
            </p>
            <div class="text-wrapper-8">Fantasy Chicken</div>
            <div class="frame-5"></div>
            <button class="button" onclick="PopupForm()">
              <div class="label">ĐƠN HÀNG CỦA BẠN</div>
              <img
                class="regular-arrowright"
                src="~/MainPage/img/regular-arrowright-91.svg"
              />
            </button>
          </div>
        </div>
        <div class="feedback">
          <div class="overlap">
            <div class="div-wrapper">
              <div class="sign-in-popup-2">
                <div class="log-in">
                  <div class="sign-in-to-your">Đánh giá Người bán</div>
                </div>
              </div>
            </div>
            <div class="rating-2">
              <div class="stars">
                <form action="">
                  <input
                    class="star star-5"
                    id="star-5"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-5" for="star-5"></label>
                  <input
                    class="star star-4"
                    id="star-4"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-4" for="star-4"></label>
                  <input
                    class="star star-3"
                    id="star-3"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-3" for="star-3"></label>
                  <input
                    class="star star-2"
                    id="star-2"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-2" for="star-2"></label>
                  <input
                    class="star star-1"
                    id="star-1"
                    type="radio"
                    name="star"
                  />
                  <label class="star star-1" for="star-1"></label>
                </form>
              </div>
              <div class="text-wrapper-9">(4,8/5)</div>
            </div>
            <div class="button-2">
              <p class="label-2">XEM TOÀN BỘ ĐÁNH GIÁ</p>
              <img
                class="regular-arrowright"
                src="~/MainPage/img/regular-arrowright-136.svg"
              />
            </div>
            <div class="frame-6">
              <div class="text-wrapper-10">5 sao</div>
              <div class="text-wrapper-11">4 sao</div>
              <div class="text-wrapper-12">3 sao</div>
              <div class="text-wrapper-13">2 sao</div>
              <div class="text-wrapper-14">1 sao</div>
              <div class="frame-7"></div>
              <div class="frame-8"></div>
              <div class="frame-9"></div>
              <div class="frame-10"></div>
              <div class="frame-11"></div>
            </div>
          </div>
        </div>
        <div class="navigation">
          <div class="mid-nav">
            <div class="container">
              <form action="/" method="GET" class="form">
                <input
                  type="search"
                  placeholder="Tìm truyện"
                  class="search-field"
                />
                <button type="submit" class="search-button">
                  <img src="~/MainPage/img/magnifyingglass.svg" />
                </button>
              </form>
            </div>
            <div class="icons">
              <a href="">
                <img class="image-9" src="~/MainPage/img/image-9.png" />
              </a>
              <a href="">
                <img class="notification" src="~/MainPage/img/notification-1.svg" />
              </a>
              <a href="">
                <img class="regular-user" src="~/MainPage/img/regular-user-1.svg" />
              </a>
            </div>
            <div class="logo-3">
              <a href="">
                <img class="image-10" src="~/MainPage/img/image-1.png" />
                <div class="logo-4"><div class="CLICON-2">SixDucks</div></div>
              </a>
            </div>
          </div>
          <div class="top-nav">
            <div class="right-content">
              <a href="">
                <div class="text-wrapper-16">Contact Us</div>
              </a>
              <a href="">
                <div class="text-wrapper-16">Language</div>
              </a>
              <a href="">
                <div class="text-wrapper-16">Logout</div>
              </a>
              <img class="line" src="~/MainPage/img/line-1.svg" />
            </div>
            <p class="welcome">
              Welcome to SixDucks’s books purchasing website
            </p>
          </div>
        </div>
        <div class="popup" id="recent-orders">
          <div class="heading">
            <div class="heading-2">
              <div class="billing-address">LỊCH SỬ GIAO DỊCH</div>
              <button class="ng">ĐÓNG</button>
            </div>
            <div class="navbar">
              <div class="m-v-n-n">MÃ VẬN ĐƠN</div>
              <div class="tr-ng-th-i">TRẠNG THÁI</div>
              <div class="th-i-gian">THỜI GIAN</div>
              <div class="thanh-to-n">THANH TOÁN</div>
              <div class="h-nh-ng">HÀNH ĐỘNG</div>
            </div>
          </div>
          <div class="product-11">
            <div class="navbar-2">
              <div class="element-2">#H4K1GH61H</div>
              <div class="IN-PROGRESS">Đang chờ</div>
              <div class="text-wrapper-17">15/10/2023 - 07:52</div>
              <div class="text-wrapper-18">157.000đ</div>
              <button class="button-3">
                <div class="text-wrapper-6">Xác nhận đơn hàng</div>
              </button>
            </div>
            <div class="navbar-2">
              <div class="element-2">#DO2J5B1O7</div>
              <div class="IN-PROGRESS-2">Đã nhận</div>
              <div class="text-wrapper-19">14/10/2023 - 23:26</div>
              <div class="text-wrapper-18">86.000đ</div>
              <button class="button-4">
                <div class="text-wrapper-6">Xem đơn hàng</div>
              </button>
            </div>
            <div class="navbar-2">
              <div class="element-2">#KK12O4N12</div>
              <div class="IN-PROGRESS">Đang chờ</div>
              <div class="text-wrapper-19">14/10/2023 -&nbsp;&nbsp;19:00</div>
              <div class="text-wrapper-18">24.000đ</div>
              <button class="button-3">
                <div class="text-wrapper-6">Xác nhận đơn hàng</div>
              </button>
            </div>
            <div class="navbar-2">
              <div class="element-2">#BH1721J4JH</div>
              <div class="IN-PROGRESS-2">Đã nhận</div>
              <div class="text-wrapper-19">13/10/2023 -&nbsp;&nbsp;19:28</div>
              <div class="text-wrapper-18">287.000đ</div>
              <button class="button-4">
                <div class="text-wrapper-6">Xem đơn hàng</div>
              </button>
            </div>
            <div class="navbar-2">
              <div class="element-2">#J7H3RT1I5O</div>
              <div class="IN-PROGRESS-2">Đã nhận</div>
              <div class="text-wrapper-19">13/10/2023 -&nbsp;&nbsp; 13:02</div>
              <div class="text-wrapper-18">130.000đ</div>
              <button class="button-4">
                <div class="text-wrapper-6">Xem đơn hàng</div>
              </button>
            </div>
            <div class="navbar-2">
              <div class="element-2">#OM17BN12K</div>
              <div class="IN-PROGRESS-2">Đã nhận</div>
              <div class="text-wrapper-17">10/10/2023 -&nbsp;&nbsp; 08:18</div>
              <div class="text-wrapper-18">468.000đ</div>
              <button class="button-4">
                <div class="text-wrapper-6">Xem đơn hàng</div>
              </button>
            </div>
          </div>
          <div style="align-items: center" class="pagination-2">
            <div class="arrow-button">
              <img class="img-2" src="~/MainPage/img/regular-arrowleft-63.svg" />
            </div>
            <div class="pages">
              <div class="pagination-item">
                <div class="text-wrapper-7">01</div>
              </div>
            </div>
            <div class="arrow-button">
              <img class="img-2" src="~/MainPage/img/regular-arrowright-124.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  function PopupForm() {
    document.getElementById("recent-orders").style.display = "block";
  }
</script>

<script>
  document.querySelector(".button-3").addEventListener("click", function () {
    document.querySelector(".IN-PROGRESS").textContent = "Đã nhận";
  });
  document.querySelector(".ng").addEventListener("click", function () {
    document.querySelector(".popup").style.display = "none";
  });
</script>
