@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>6Ducks</title>
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/styles/globals.css" />
    <link rel="stylesheet" href="/info/seller-information(buyer)/seller-info.css" />
    <link rel="stylesheet" href="/assets/styles/header-footer.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <div class="mainpage">
        <div class="wrapper seller-information">
            <div class="layout seller-1">
                <div class="about box">
                    <p>Người bán</p>
                    <div>
                        <img src="/assets/images/frame-8.png" draggable="false"
                        alt="Seller Avatar" />
                        <div>
                            <header class="seller-name">Fantasy Chicken</header>
                            <p class="product_number">Số sản phẩm đã bán: <span>0</span></p>
                        </div>
                    </div>
                    <button type="button" class="seller-contact">Liên hệ với người bán &#129122;</button>
                </div>
                <div class="rating_info box">
                    <div class="rating_wrapper">
                        <div style="line-height: 34px">Đánh giá người bán</div>
                        <div class="rating" style="margin-top: 6px">
                            <div class="stars">
                                <form action="">
                                    <input class="star star-5" id="star-5" type="radio" name="star" disabled />
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star" disabled />
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star" disabled />
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star" disabled />
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star" disabled />
                                    <label class="star star-1" for="star-1"></label>
                                </form>
                            </div>
                            <div style="margin-top: 6px; margin-left: 3px" id="rating-avg">(4.8/5)</div>
                        </div>
                    </div>
                    <div class="scoreboard">
                        <div class="letter">
                            5 sao <br />
                            4 sao <br />
                            3 sao <br />
                            2 sao <br />
                            1 sao
                        </div>
                        <div class="row_bar">
                            <div class="bar_5">
                                <span></span>
                            </div>
                            <div class="bar_4">
                                <span></span>
                            </div>
                            <div class="bar_3">
                                <span></span>
                            </div>
                            <div class="bar_2"><span></span></div>
                            <div class="bar_1"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout product">
                <div class="product-list page-1 active">
                </div>
                <div class="pagination">
                    <p class="arrow back">&#129120;</p>
                    <p class="current-page"><span>1</span>/<span>1</span></p>
                    <p class="arrow forward">&#129122;</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $.get("/components/header.html", function (data) {
            $("body").prepend(data);
            $(".logo").click(function () {
                location.href = "SellerMainPage";
            });
        });

        $.get("/components/footer.html", function (data) {
            $("body").append(data);
        });
    </script>
    <script type="module" src="/context/seller-info.js"></script>
    <script type="module" src="/info/seller-information(buyer)/scripts.js"></script>
</body>

</html>
