@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="~/css/globals.css" />
    <link rel="stylesheet" href="~/css/styleguide.css" />
    <link rel="stylesheet" href="~/css/style.css" />
  </head>
  <body>
    <div class="signuppage-without">
      <div class="div">
        <div class="end-end">
                <img class="image" src="~/img/image-3.png" />
                <img class="img" src="~/img/image-4.png" />
                <img class="image-2" src="~/img/image-5.png" />
                <img class="image-3" src="~/img/image-6.png" />
                <img class="image-4" src="~/img/image-7.png" />
                <img class="image-5" src="~/img/image-8.png" />
        </div>
        <div class="end">
          <div class="frame">
            <p class="trinh-th-m-kinh-d-t">
              Trinh thám<br />Kinh dị<br />Tình cảm<br />Hài hước<br />Thiếu nhi<br />Giáo dục<br />Kinh tế<br />Khoa
              học
            </p>
            <div class="text-wrapper">Thể loại</div>
          </div>
          <div class="frame-2">
            <p class="truy-n-ch-truy-n">Truyện chữ<br />Truyện tranh<br />Sách ảnh<br />Sách chữ nổi</p>
            <div class="text-wrapper-2">Danh mục</div>
          </div>
          <div class="frame-3">
            <a href="mailto:sixducks@hcmut.edu.vn" target="_blank" rel="noopener noreferrer"
              ><div class="text-wrapper-3">sixducks@hcmut.edu.vn</div></a
            >
            <div class="text-wrapper-4">Liên hệ</div>
          </div>
          <div class="frame-4">
            <div class="logo">
              <img class="image-6" src="img/image-1.png" />
              <div class="logo-2"><div class="CLICON">SixDucks</div></div>
            </div>
            <p class="i-h-c-qu-c-gia-TP">Đại học Quốc gia TP.HCM<br />Trường Đại học Bách Khoa</p>
          </div>
        </div>
        <div class="overlap-group">
          <div class="sign-in-popup">
            <div class="log-in"><div class="sign-in-to-your">Đăng kí</div></div>
          </div>
          <div class="check-box">
            <div>
              <input class = "from-elements" type = "checkbox">
            </div>
            <p class="b-n-ng-v-i-i-u-kho-n">
              <span class="span">Bạn đồng ý với </span>
              <span class="text-wrapper-5">Điều khoản dịch vụ</span>
              <span class="span"> của </span>
              <span class="text-wrapper-6">SixDucks</span>
            </p>
          </div>
          <div class="from">
            <div class="order-ID">
              <div class="text-wrapper-7">Tên đăng nhập</div>
              <div class="input-field"><input class = "input-field" type="text"></div>
            </div>
            <div class="order-ID">
              <div class="text-wrapper-7">Gmail/SĐT</div>
              <div class="input-field"><input class = "input-field" type="text"></div>
            </div>
            <div class="order-ID">
              <div class="text-wrapper-7">Mật khẩu</div>
              <div class="input-field">
                <div class="password">8 kí tự</div>
                <input class = "input-field" type="text" placeholder="8 kí tự">
                <img class="regular-eye" src="img/regular-eye-4.svg" />
              </div>
            </div>
            <div class="order-ID">
              <div class="text-wrapper-7">Nhập lại mật khẩu</div>
              <div class="input-field"><input class = "input-field" type="text">
                <img class="regular-eye" src="img/regular-eye-4.svg" />
              </div>
            </div>
          </div>
          <div class="from-2">
            <div class="order-ID">
              <div class="text-wrapper-7">Loại tài khoản</div>
              <div class="group"><input class = "input-field" type="text">
                <img class="regular-caretdown" src="img/regular-caretdown.svg" />
              </div>
            </div>
            <div class="order-ID">
              <div class="text-wrapper-7">Địa chỉ</div>
              <div class="input-field"><input class = "input-field" type="text">
              </div>
            </div>
            <div class="order-ID-2">
              <div class="text-wrapper-7">Code xác minh</div>
              <div class="input-field"><input class = "input-field" type="text">
              </div>
            </div>
          </div>
          <button class="button" type = "button" 
            onclick="PopupForm()">
            <div class="label">ĐĂNG KÍ</div>
          </button>
        </div>
        <div class="navigation">
          <div class="mid-nav">
            <div class="searchbar">
              <input class = "text-wrapper-10" type = "text" placeholder="Tìm truyện">
              <img class="magnifying-glass" src="img/magnifyingglass.svg" />
            </div>
            <div class="icons">
              <img class="img-2" src="img/shoppingcartsimple.svg" />
              <img class="notification" src="img/notification-1.svg" />
              <img class="img-2" src="img/regular-user-1.svg" />
            </div>
            <div class="logo-3">
              <img class="image-7" src="img/image-1-1.png" />
              <div class="logo-4"><div class="CLICON-2">SixDucks</div></div>
            </div>
          </div>
          <div class="top-nav">
            <div class="navbar">
              <div class="text-wrapper-9">Contact Us</div>
              <div class="text-wrapper-9">Language</div>
              <img class="line" src="img/line-1.svg" />
              <div class="text-wrapper-9">Sign in</div>
              <div class="text-wrapper-9">Sign up</div>
            </div>
            <p class="welcome">Welcome to SixDucks’s books purchasing website</p>
          </div>
          <img class="image-8" src="img/image-2.png" />
        </div>
        <div class="popup" id = "notification">
          <div class="overlap-group">
            <div class="login">
              <img class="line" src="img/line-29-2.svg" />
              <div class="tab">
                <div class="sign-in-wrapper"><div class="sign-in">Đăng kí thành công!</div></div>
              </div>
            </div>
            <div class="text-wrapper">
              <div>
                Bạn đã đăng kí thành công tài khoản của <br> SixDucks!
                Giờ bạn có thể đăng nhập và bắt <br> 
                đầu giao dịch đầu tiên của mình!
              </div>
            </div>
            <button class="button" id = "tologin">
              <div class="label">ĐI ĐẾN ĐĂNG NHẬP</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  function PopupForm()
  {
    document.getElementById("notification").style.display = "block";
  }
</script>

<script>
      document.getElementById("tologin").onclick =
      function ()
      {
        location.href = "../LoginPage/index.html";
      }
</script>