@{
    Layout = null;
}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="user-information">
      <div class="div">
        <div class="end-end">
          <img class="image" src="~/MainPage/img/image-3.png" />
          <img class="img" src="~/MainPage/img/image-4.png" />
          <img class="image-2" src="~/MainPage/img/image-5.png" />
          <img class="image-3" src="~/MainPage/img/image-6.png" />
          <img class="image-4" src="~/MainPage/img/image-7.png" />
          <img class="image-5" src="~/MainPage/img/image-8.png" />
        </div>
        <div class="end">
          <div class="frame">
            <p class="trinh-th-m-kinh-d-t">
              Trinh thám<br />Kinh dị<br />Tình cảm<br />Hài hước<br />Thiếu nhi<br />Giáo dục<br />Kinh tế<br />Khoa
              học
            </p>
            <div class="text-wrapper">Thể loại</div>
          </div>
          <div class="frame-2">
            <p class="truy-n-ch-truy-n">Truyện chữ<br />Truyện tranh<br />Sách ảnh<br />Sách chữ nổi</p>
            <div class="text-wrapper-2">Danh mục</div>
          </div>
          <div class="frame-3">
            <a href="mailto:sixducks@hcmut.edu.vn" target="_blank" rel="noopener noreferrer"
              ><div class="text-wrapper-3">sixducks@hcmut.edu.vn</div></a
            >
            <div class="text-wrapper-4">Liên hệ</div>
          </div>
          <div class="frame-4">
            <div class="logo">
              <img class="image-6" src="~/MainPage/img/image-1-1.png" />
              <div class="logo-2"><div class="CLICON">SixDucks</div></div>
            </div>
            <p class="i-h-c-qu-c-gia-TP">Đại học Quốc gia TP.HCM<br />Trường Đại học Bách Khoa</p>
          </div>
        </div>
        <div class="overlap-group">
          <div class="sign-in-popup">
            <div class="log-in"><div class="sign-in-to-your">Thông tin cá nhân</div></div>
          </div>
          <div class="recent-orders">
            <div class="heading">
              <div class="billing-address-wrapper"><div class="billing-address">LỊCH SỬ GIAO DỊCH</div></div>
              <div class="navbar">
                <div class="m-v-n-n">MÃ VẬN ĐƠN</div>
                <div class="tr-ng-th-i">TRẠNG THÁI</div>
                <div class="th-i-gian">THỜI GIAN</div>
                <div class="thanh-to-n">THANH TOÁN</div>
              </div>
            </div>
            <div class="product">
              <div class="div-2">
                <div class="element">#H4K1GH61H</div>
                <div class="IN-PROGRESS">Đang chờ</div>
                <div class="dec">15/10/2023 - 07:52</div>
                <div class="element-products"></div>
              </div>
              <div class="div-2">
                <div class="element">#DO2J5B1O7</div>
                <div class="IN-PROGRESS-2">Đã nhận</div>
                <div class="dec">14/10/2023 - 23:26</div>
                <div class="element-products">86.000đ</div>
              </div>
              <div class="div-2">
                <div class="element">#KK12O4N12</div>
                <div class="IN-PROGRESS">Đang chờ</div>
                <div class="dec">14/10/2023 -&nbsp;&nbsp;19:00</div>
                <div class="element-products"></div>
              </div>
              <div class="div-2">
                <div class="element">#BH1721J4JH</div>
                <div class="IN-PROGRESS-2">Đã nhận</div>
                <div class="dec">13/10/2023 -&nbsp;&nbsp;19:28</div>
                <div class="element-products">287.000đ</div>
              </div>
              <div class="div-2">
                <div class="element">#J7H3RT1I5O</div>
                <div class="IN-PROGRESS-2">Đã nhận</div>
                <div class="dec">13/10/2023 -&nbsp;&nbsp; 13:02</div>
                <div class="element-products">130.000đ</div>
              </div>
              <div class="div-2">
                <div class="element">#OM17BN12K</div>
                <div class="IN-PROGRESS-2">Đã nhận</div>
                <div class="dec">10/10/2023 -&nbsp;&nbsp; 08:18</div>
                <div class="element-products">468.000đ</div>
              </div>
            </div>
            <div class="pagination">
              <div class="arrow-button"><img class="img-2" src="~/MainPage/img/regular-arrowleft.svg" /></div>
              <div class="pages">
                <div class="pagination-item"><div class="text-wrapper-5">01</div></div>
              </div>
              <div class="arrow-button"><img class="img-2" src="~/MainPage/img/regular-arrowright.svg" /></div>
            </div>
          </div>
          <div class="fun-fact">
            <div class="fun-fact-2">
              <div class="icon"><img class="img-3" src="~/MainPage/img/duotone-rocket.svg" /></div>
              <div class="content">
                <div class="element-2">0</div>
                <p class="p">Tổng số đơn đã đặt</p>
              </div>
            </div>
            <div class="fun-fact-3">
              <div class="icon"><img class="img-3" src="~/MainPage/img/duotone-receipt-2.svg" /></div>
              <div class="content">
                <div class="element-2">0</div>
                <p class="p">Số đơn đang chờ xác nhận</p>
              </div>
            </div>
            <div class="fun-fact-4">
              <div class="icon"><img class="img-3" src="~/MainPage/img/duotone-package.svg" /></div>
              <div class="content">
                <div class="element-2">0</div>
                <p class="p">Số đơn đã hoàn thành</p>
              </div>
            </div>
          </div>
          <div class="account-info">
            <div class="div-wrapper"><div class="billing-address">THÔNG TIN TÀI KHOẢN</div></div>
            <div class="info">
              <div class="user">
                <img class="image-7" src="~/MainPage/img/image.png" />
                <div class="content">
                  <div class="text-wrapper-6">DuckNo1</div>
                  <p class="text-wrapper-7">Trường Đại học Bách khoa</p>
                </div>
              </div>
              <div class="fun-fact-5">
                <div class="div-3">
                  <div class="text-wrapper-8">Email:</div>
                  <div class="text-wrapper-9">duckno1@gmail.com</div>
                </div>
                <div class="div-3">
                  <div class="text-wrapper-8">SĐT:</div>
                  <div class="text-wrapper-9">Bị ẩn</div>
                </div>
              </div>
            </div>
            <button class="button">
              <button class="label-wrapper"><div class="label">CHỈNH SỬA THÔNG TIN</div></button>
            </button>
          </div>
        </div>
        <div class="overlap">
          <div class="navigation">
            <div class="mid-nav">
              <div class="searchbar">
                <input class="text-wrapper-10" type="text" placeholder="Tìm truyện"/>
                <!--<div class="text-wrapper-10">Tìm truyện</div>-->
                <a href="#"><img class="magnifying-glass" src="~/MainPage/img/magnifyingglass.svg" /></a>
              </div>
              <div class="icons">
                <a href="#"><img class="img-3" src="~/MainPage/img/shoppingcartsimple.svg" /></a>
                <a href="#"><img class="notification" src="~/MainPage/img/notification.svg" /></a>
                <a href="#"><img class="img-3" src="~/MainPage/img/regular-user.svg" /></a>
              </div>
              <div class="logo-3">
                <a href="home.html"><img class="image-8" src="~/MainPage/img/image-1.png" /></a>
                <a href="home.html"><div class="logo-4"><div class="CLICON-2">SixDucks</div></div></a>
              </div>
            </div>
            <div class="top-nav">
              <div class="right-content">
                <div class="text-wrapper-11">Contact Us</div>
                <div class="text-wrapper-11">Language</div>
                <img class="line" src="~/MainPage/img/line-1.svg" />
                <div class="text-wrapper-11">Logout</div>
              </div>
            </div>  
          </div>
          <div class="text-wrapper-12">2</div>
          <div class="text-wrapper-13">2</div>
        </div>
      </div>
    </div>
  </body>
</html>
