<div class="footer">
  <div class="info">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="" draggable="false"/>
      <span>SixDucks</span>
    </div>
    <span>Đại học Quốc gia TP.HCM Trường Đại học Bách Khoa</span>
  </div>
  <div class="category">
    <header>Thể loại</header>
    <ul>
      <li>Trinh thám</li>
      <li>Kinh dị</li>
      <li>Tình cảm</li>
      <li>Hài hước</li>
      <li>Thiếu nhi</li>
      <li>Giáo dục</li>
      <li>Kinh tế</li>
      <li>Khoa học</li>
    </ul>
  </div>
  <div class="type">
    <header>Danh mục</header>
    <ul>
      <li>Truyện chữ</li>
      <li>Truyện tranh</li>
      <li>Sách ảnh</li>
      <li>Sách chữ nổi</li>
      <li>Sách cũ</li>
    </ul>
  </div>
  <div class="contact">
    <header>Liên hệ</header>
    <span>sixducks@hcmut.edu.vn</span>
  </div>
</div>
