@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>6Ducks</title>
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/assets/styles/globals.css" />
  <link rel="stylesheet" href="/assets/styles/header-footer.css" />
  <link rel="stylesheet" href="/assets/styles/seller-main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <div class="statistic-maincontent">
    <div class="wrapper">
      <h2>Thống kê trong năm</h2>
      <div class="statistic-table">
        <canvas id="statistic-element"></canvas>
      </div>
    </div>
  </div>
  <script type="module" src="/context/seller-main.js"></script>
  <script type="module" src="/context/statistic.js"></script>
</body>

</html>