@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>6Ducks User</title>
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/user-mainpage/globals.css" />
    <link rel="stylesheet" href="/assets/styles/seller-main.css" />
    <link rel="stylesheet" href="/assets/styles/header-footer.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <div class="mainpage-uploadcomic">
        <div class="wrapper best-seller">
            <header>Gợi ý hôm nay</header>
            <div class="filter">
                <div class="left">
                    <label>Sắp xếp theo</label>
                    <select class="list price-filter" name="actived">
                        <option value="default">Giá</option>
                        <option value="ascPrice">Giá: Thấp đến Cao</option>
                        <option value="descPrice">Giá: Cao đến Thấp</option>
                    </select>
                    <select class="list cat-filter" name="actived">
                        <option value="default">Tất cả danh mục</option>
                        <!-- <option value="2001">Sách</option> -->
                    </select>
                    <select class="list genre-filter" name="actived">
                        <option value="default">Tất cả thể loại</option>
                        <!-- <option value="1007">Khoa học viễn tưởng</option> -->
                    </select>
                </div>
                <div class="right">
                    <label class="num-prod-filter">
                        Có <span class="num-prod">10</span> sản phẩm
                    </label>
                </div>
            </div>
            <div class="product-list"></div>
        </div>
        <div class="wrapper vouchers">
            <div class="today-voucher">
                <p class="header">Voucher hôm nay</p>
                <!-- <div class="voucher">
                    <img src="/assets/images/voucher.png" alt="" />
                    <div class="voucher-content">
                        <span class="voucher-name">Voucher dùng cho thể loại Trinh thám</span>
                        <span class="voucher-value">- 30% tối đa 20k</span>
                    </div>
                </div>
                <div class="voucher">
                    <img src="/assets/images/voucher.png" alt="" />
                    <div class="voucher-content">
                        <span class="voucher-name">Voucher dùng cho thể loại Thiếu nhi</span>
                        <span class="voucher-value">- 30% tối đa 20k</span>
                    </div>
                </div>
                <div class="voucher">
                    <img src="/assets/images/voucher.png" alt="" />
                    <div class="voucher-content">
                        <span class="voucher-name">Voucher dùng cho danh mục Truyện tranh</span>
                        <span class="voucher-value">- 30% tối đa 20k</span>
                    </div>
                </div> -->
            </div>
            <div class="free-ship">
                <p class="header">Free ship</p>
                <!-- <div class="voucher">
                    <img src="/assets/images/freeship.png" alt="" />
                    <div class="voucher-content">
                        <span class="voucher-name">Mã Freeship</span>
                        <span class="voucher-value">- 100% tối đa 40k</span>
                    </div>
                </div>
                <div class="voucher">
                    <img src="/assets/images/freeship.png" alt="" />
                    <div class="voucher-content">
                        <span class="voucher-name">Mã Freeeship (Thanh toán online)</span>
                        <span class="voucher-value">- 100%</span>
                    </div>
                </div>
                <div class="voucher">
                    <img src="/assets/images/freeship.png" alt="" />
                    <div class="voucher-content">
                        <span class="voucher-name">Mã Freeship</span>
                        <span class="voucher-value">- 50% tối đa 15k</span>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- <div class="wrapper discount">
            <header>Khuyến mãi</header>
            <div class="product-list">
                <div class="product-item product-1">
                    <div class="badge">-20%</div>
                    <img src="/assets/images/book-1-1.png" alt="" />
                    <div class="container">
                        <header class="product-name">
                            Điều kì diệu của tạp hóa Namiya (Tái bản 2018)
                        </header>
                        <div class="price">129.000đ</div>
                        <div class="rate">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span>(1857)</span>
                        </div>
                    </div>
                </div>
                <div class="product-item product-2">
                    <div class="badge">-20%</div>
                    <img src="/assets/images/book-2.png" alt="" />
                    <div class="container">
                        <header class="product-name">
                            Conan Thám tử lừng danh - Tập 100
                        </header>
                        <div class="price">129.000đ</div>
                        <div class="rate">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <span> (1857) </span>
                        </div>
                    </div>
                </div>
                <div class="product-item product-3">
                    <div class="badge">-20%</div>
                    <img src="/assets/images/book-3.png" alt="" />
                    <div class="container">
                        <header class="product-name">
                            Light Novel Thiên sứ nhà bên - Tập 1
                        </header>
                        <div class="price">129.000đ</div>
                        <div class="rate">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <span> (1857) </span>
                        </div>
                    </div>
                </div>
                <div class="product-item product-4">
                    <div class="badge">-20%</div>
                    <img src="/assets/images/book-4.png" alt="" />
                    <div class="container">
                        <header>Thay đổi cuộc sống với Nhân số học</header>
                        <div class="price">129.000đ</div>
                        <div class="rate">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <span>(1857)</span>
                        </div>
                    </div>
                </div>
                <div class="product-item product-5">
                    <div class="badge">-20%</div>
                    <img src="/assets/images/book-5.png" alt="" />
                    <div class="container">
                        <header class="product-name">
                            Muôn kiếp nhân sinh - Nguyên Phong
                        </header>
                        <div class="price">129.000đ</div>
                        <div class="rate">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span> (1857) </span>
                        </div>
                    </div>
                </div>
                <div class="product-item product-6">
                    <div class="badge">-20%</div>
                    <img src="/assets/images/book-6.png" alt="" />
                    <div class="container">
                        <header class="product-name">
                            Nghĩ giàu làm giàu (Tái bản 2020)
                        </header>
                        <div class="price">129.000đ</div>
                        <div class="rate">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <span> (1857) </span>
                        </div>
                    </div>
                </div>
                <div class="product-item product-7">
                    <div class="badge">-20%</div>
                    <img src="/assets/images/book-7.png" alt="" />
                    <div class="container">
                        <header class="product-name">
                            Sherlock Holmes toàn tập (Bộ 5 cuốn)
                        </header>
                        <div class="price">129.000đ</div>
                        <div class="rate">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <span> (1857) </span>
                        </div>
                    </div>
                </div>
                <div class="product-item product-8">
                    <div class="badge">-20%</div>
                    <img src="/assets/images/book-8.png" alt="" />
                    <div class="container">
                        <header class="product-name">
                            Bộ sách kể chuyện cuộc đời các thiên tài (Bộ 12 cuốn)
                        </header>
                        <div class="price">129.000đ</div>
                        <div class="rate">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <span> (1857) </span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <script type="module" src="/context/seller-main.js"></script>
    <script type="module" src="/user-mainpage/script.js"></script>
</body>

</html>