@{
    Layout = null;
}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  />
  </head>
  <body>
    <div class="chat">
      <div class="end-end">
        <img class="image" src="~/MainPage/img/image-3-1.png" />
        <img class="img" src="~/MainPage/img/image-4-1.png" />
        <img class="image-2" src="~/MainPage/img/image-5-1.png" />
        <img class="image-3" src="~/MainPage/img/image-6-1.png" />
        <img class="image-4" src="~/MainPage/img/image-7.png" />
        <img class="image-5" src="~/MainPage/img/image-8.png" />
      </div>
      <div class="end">
        <div class="frame">
          <p class="trinh-th-m-kinh-d-t">
            Trinh thám<br />Kinh dị<br />Tình cảm<br />Hài hước<br />Thiếu
            nhi<br />Giáo dục<br />Kinh tế<br />Khoa học
          </p>
          <div class="text-wrapper">Thể loại</div>
        </div>
        <div class="div">
          <p class="truy-n-ch-truy-n">
            Truyện chữ<br />Truyện tranh<br />Sách ảnh<br />Sách chữ nổi
          </p>
          <div class="text-wrapper-2">Danh mục</div>
        </div>
        <div class="frame-2">
          <a
            href="mailto:sixducks@hcmut.edu.vn"
            target="_blank"
            rel="noopener noreferrer"
            ><div class="text-wrapper-3">sixducks@hcmut.edu.vn</div></a
          >
          <div class="text-wrapper-4">Liên hệ</div>
        </div>
        <div class="frame-3">
          <div class="logo">
            <img class="image-6" src="~/MainPage/img/image-1-2.png" />
            <div class="logo-2"><div class="CLICON">SixDucks</div></div>
          </div>
          <p class="i-h-c-qu-c-gia-TP">
            Đại học Quốc gia TP.HCM<br />Trường Đại học Bách Khoa
          </p>
        </div>
      </div>
      <div class="feedback">
        <div class="overlap-group">
          <div class="seller">
            <div class="sign-in-popup">
              <div class="log-in">
                <div class="sign-in-to-your">Đánh giá Người bán</div>
              </div>
            </div>
          </div>
          <div class="rating">
            <div class="stars">
              <form action="">
                <input class="star star-5" id="star-5" type="radio" name="star" />
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" name="star" />
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" name="star" />
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" name="star" />
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" name="star" />
                <label class="star star-1" for="star-1"></label>
              </form>
            </div>
            <div class="text-wrapper-5">(4,8/5)</div>
          </div>
          <div class="button">
            <a href="">
              <p class="label">XEM TOÀN BỘ ĐÁNH GIÁ</p>
            </a>
            <img class="regular-arrowright" src="~/MainPage/img/regular-arrowright.svg" />
          </div>
          <div class="frame-4">
            <div class="text-wrapper-6">5 sao</div>
            <div class="text-wrapper-7">4 sao</div>
            <div class="text-wrapper-8">3 sao</div>
            <div class="text-wrapper-9">2 sao</div>
            <div class="text-wrapper-10">1 sao</div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-7"></div>
            <div class="frame-8"></div>
            <div class="frame-9"></div>
          </div>
        </div>
      </div>
      <div class="tr-chuyn">
        <div class="overlap">
          <div class="voucher">
            <div class="sign-in-popup-2">
              <div class="log-in-2">
                <div class="sign-in-to-your">Trò chuyện</div>
              </div>
            </div>
          </div>
          <div class="frame-10">
            <!-- <div class="div-wrapper">
              <p class="p">Nhập tin nhắn của bạn...</p>
            </div> -->
            <input class="div-wrapper" type="text" class="p" placeholder="Nhập tin nhắn của bạn...">
            <img class="image-7" src="~/MainPage/img/image.png" />
            <img class="line" src="~/MainPage/img/line-2.svg" />
          </div>
        </div>
      </div>
      <div class="overlap-wrapper">
        <div class="overlap-2">
          <div class="sign-in-popup-wrapper">
            <div class="sign-in-popup-3">
              <div class="log-in">
                <div class="sign-in-to-your">Người bán</div>
              </div>
            </div>
          </div>
          <p class="tham-gia-t">
            Tham gia từ: 5/7/2021<br />Số sản phẩm đã bán: 63
          </p>
          <div class="text-wrapper-11">Fantasy Chicken</div>
          <div class="frame-19"></div>
        </div>
      </div>
      <div class="group">
        <div class="mid-nav">
          <div class="container">
            <form action="/" method="GET" class="form">
              <input
                type="search"
                placeholder="Tìm truyện"
                class="search-field"
              />
              <button type="submit" class="search-button">
                <img src="~/MainPage/img/magnifyingglass.svg" />
              </button>
            </form>
          </div>
          <div class="icons">
            <a href="">
              <img class="image-10" src="~/MainPage/img/image-9.png" />
            </a>
            <a href="">
              <img class="notification" src="~/MainPage/img/notification.svg" />
            </a>
            <a href="">
              <img class="regular-user" src="~/MainPage/img/regular-user.svg" />
            </a>
          </div>
          <div class="logo-3">
            <a href="">
              <img class="image-11" src="~/MainPage/img/image-1.png" />
              <div class="logo-4"><div class="CLICON-2">SixDucks</div></div>
            </a>
          </div>
        </div>
        <div class="top-nav">
          <div class="right-content">
            <a class="text-wrapper-13" href="">Contact us</a>
            <a class="text-wrapper-13" href="">Language</a>
            <img class="line-2" src="~/MainPage/img/line-1.svg" />
            <a class="text-wrapper-13" href="">Logout</a>
          </div>
          <p class="welcome">Welcome to SixDucks's books purchasing website</p>
        </div>
      </div>
    </div>
  </body>
</html>
