@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/cart/cart.css" />
    <link rel="stylesheet" href="/assets/styles/globals.css" />
    <link rel="stylesheet" href="/assets/styles/header-footer.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/cart/cart.js"></script>
</head>

<body>
    <div class="delete-side">
        <div class="delete-popup">
            <h4>Chắc chắn xóa?</h4>
            <div class="btn-group">
                <button id="confirm-delete">Xóa</button>
                <button id="cancel-delete">Không</button>
            </div>
        </div>
    </div>
    <div class="main-cart">
        <div class="wrapper">
            <h1>Giỏ hàng</h1>
            <div class="cart-total-price">
                <span>Tổng thanh toán: </span>
                <span class="total-price"><span>0</span>Đ</span>
                <button type="button" id="mark-all">Chọn tất cả</button>
                <button type="button" id="make-buy">Mua ngay</button>
            </div>
            <div class="cart-list waiting-cart-list">
                <!-- <div class="cart-item">
                    <img src="/assets/images/DieuKyDieuCuaTiemTapHoaNamiya/book-1-1.png" alt="" />
                    <div class="detail">
                        <span class="book-name">Điều kì diệu của tiệm tạp hóa Namiya</span>
                        <span class="quantity">Số lượng: <span>1</span></span>
                        <span class="item-price">Đơn giá:<span>86000</span>đ</span>
                    </div>
                    <span class="item-total-price">Tổng: <span>86000</span>đ</span>
                    <input type="checkbox" name="item-choose" />
                </div>
                <div class="cart-item">
                    <img src="/assets/images/DieuKyDieuCuaTiemTapHoaNamiya/book-1-1.png" alt="" />
                    <div class="detail">
                        <span class="book-name">Điều kì diệu của tiệm tạp hóa Namiya</span>
                        <span class="quantity">Số lượng: <span>1</span></span>
                        <span class="item-price">Đơn giá: <span>86000</span>đ</span>
                    </div>
                    <span class="item-total-price">Tổng: <span>86000</span>đ</span>
                    <input type="checkbox" name="item-choose" />
                </div>
                <div class="cart-item">
                    <img src="/assets/images/DieuKyDieuCuaTiemTapHoaNamiya/book-1-1.png" alt="" />
                    <div class="detail">
                        <span class="book-name">Điều kì diệu của tiệm tạp hóa Namiya</span>
                        <span class="quantity">Số lượng: <span>1</span></span>
                        <span class="item-price">Đơn giá: <span>86000</span>đ</span>
                    </div>
                    <span class="item-total-price">Tổng: <span>86000</span>đ</span>
                    <input type="checkbox" name="item-choose" />
                </div>
                <div class="cart-item">
                    <img src="/assets/images/DieuKyDieuCuaTiemTapHoaNamiya/book-1-1.png" alt="" />
                    <div class="detail">
                        <span class="book-name">Điều kì diệu của tiệm tạp hóa Namiya</span>
                        <span class="quantity">Số lượng: <span>1</span></span>
                        <span class="item-price">Đơn giá: <span>86000</span>đ</span>
                    </div>
                    <span class="item-total-price">Tổng: <span>86000</span>đ</span>
                    <input type="checkbox" name="item-choose" />
                </div>
                <div class="cart-item">
                    <img src="/assets/images/DieuKyDieuCuaTiemTapHoaNamiya/book-1-1.png" alt="" />
                    <div class="detail">
                        <span class="book-name">Điều kì diệu của tiệm tạp hóa Namiya</span>
                        <span class="quantity">Số lượng: <span>1</span></span>
                        <span class="item-price">Đơn giá: <span>86000</span>đ</span>
                    </div>
                    <span class="item-total-price">
                        Tổng: <span>86000</span>đ
                        <input type="checkbox" name="item-choose" />
                    </span>
                    <div class="delete-cart-item">Xóa</div>
                </div> -->
            </div>
        </div>
        <div class="overlay-cart">
            <div class="wrapper">
                <h1>Mua hàng</h1>
                <div class="buy">
                    <div class="cart-list buy-cart-list">
                        <!-- <div class="cart-item">
                            <img src="/assets/images/DieuKyDieuCuaTiemTapHoaNamiya/book-1-1.png" alt="" />
                            <span class="detail">Điều kì diệu ở tiệm tạp hóa Namiya</span>
                            <span class="item-price"><span>86.000</span>đ</span>
                        </div> -->
                    </div>
                    <form class="buyer-info" method="post" action="">
                        <h1>Thông tin nhận hàng</h1>
                        <div>
                            <input type="text" name="name" id="name" />
                            <label for="name">Tên người nhận</label>
                        </div>
                        <div>
                            <input type="text" name="phone" id="phone" />
                            <label for="phone">SĐT liên lạc khi nhận hàng</label>
                        </div>
                        <div>
                            <input type="text" name="address" id="address" />
                            <label for="address">Địa chỉ</label>
                        </div>
                        <div>
                            <select name="method" id="method">
                                <!-- <option value="fast">Nhanh</option>
                                <option value="x-fast">Hỏa tốc</option>
                                <option value="saving">Tiết kiệm</option> -->
                            </select>
                            <label for="method">Phương thức giao hàng</label>
                        </div>
                        <div>
                            <input type="text" name="cost" id="cost" readonly />
                            <label for="cost">Phí giao hàng</label>
                        </div>
                    </form>
                </div>
                <div class="cash">
                    <h1>Phương thức thanh toán</h1>
                    <div class="content">
                        <div class="left">
                            <div>
                                <input type="checkbox" name="cod-method" id="cod-method" />
                                <label for="cod-method">Thanh toán khi nhận hàng</label>
                            </div>
                            <form action="" class="cod-form">

                            </form>
                        </div>
                        <div class="right">
                            <div>
                                <input type="checkbox" name="banking-method" id="banking-method" />
                                <label for="banking-method">Thanh toán online qua ngân hàng</label>
                            </div>
                            <form action="" class="bank-form">
                                <div>
                                    <select name="bank" id="bank">
                                        <option value="1">MB Bank</option>
                                        <option value="2">BIDV</option>
                                        <option value="3">Vietcombank</option>
                                        <option value="4">OCB</option>
                                    </select>
                                    <label for="bank">Ngân hàng</label>
                                </div>
                                <div>
                                    <input type="text" name="stk" id="stk" />
                                    <label for="stk">STK ngân hàng</label>
                                </div>
                                <div>
                                    <input type="text" name="bank-name" id="bank-name" />
                                    <label for="bank-name">Chủ tài khoản</label>
                                </div>
                                <div>
                                    <input type="password" name="otp" id="otp" />
                                    <label for="otp">OTP xác nhận</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="voucher">
                    <div class="wrapper">
                        <h1>Voucher giảm giá</h1>
                        <button type="button" class="choose-voucher">
                            Chọn voucher
                        </button>
                    </div>
                </div>
                <div class="total">
                    <label for="total">Tổng thanh toán</label>
                    <input type="number" class="total" readonly />
                </div>
                <div class="btn-group">
                    <button type="button" id="cancel-1">Hủy</button>
                    <button type="button" id="cancel-2">Hủy</button>
                    <button type="button" id="cancel-3">Hủy</button>
                    <button type="button" id="next-1">Tiếp theo</button>
                    <button type="button" id="next-2">Tiếp theo</button>
                    <button type="button" id="confirm-buy">Hoàn tất</button>
                </div>
            </div>
            <div class="success wrapper">
                <h1>Đặt hàng thành công!</h1>
                <div class="text">
                    Bạn đã hoàn tất giao dịch đặt hàng! Hãy chờ người bán xác nhận đơn hàng và đóng gói gửi đến cho
                    bạn
                    nhé!
                </div>
                <button type="button" id="buy-done">Xong</button>
            </div>
        </div>
    </div>
</body>

</html>
