.signuppage-without {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.signuppage-without .div {
  background-color: #ffffff;
  width: 1280px;
  height: 1224px;
  position: relative;
}

.signuppage-without .end-end {
  position: absolute;
  width: 590px;
  height: 44px;
  top: 1172px;
  left: 337px;
}

.signuppage-without .image {
  width: 52px;
  height: 22px;
  top: 11px;
  left: 13px;
  position: absolute;
  object-fit: cover;
}

.signuppage-without .img {
  width: 52px;
  height: 22px;
  top: 11px;
  left: 92px;
  position: absolute;
  object-fit: cover;
}

.signuppage-without .image-2 {
  width: 68px;
  height: 16px;
  top: 14px;
  left: 189px;
  position: absolute;
  object-fit: cover;
}

.signuppage-without .image-3 {
  width: 68px;
  height: 16px;
  top: 14px;
  left: 307px;
  position: absolute;
  object-fit: cover;
}

.signuppage-without .image-4 {
  width: 68px;
  height: 16px;
  top: 14px;
  left: 409px;
  position: absolute;
  object-fit: cover;
}

.signuppage-without .image-5 {
  width: 68px;
  height: 16px;
  top: 14px;
  left: 511px;
  position: absolute;
  object-fit: cover;
}

.signuppage-without .end {
  position: absolute;
  width: 1280px;
  height: 385px;
  top: 771px;
  left: 0;
  background-color: #1b6392;
}

.signuppage-without .frame {
  position: absolute;
  width: 112px;
  height: 268px;
  top: 80px;
  left: 484px;
  overflow: hidden;
}

.signuppage-without .trinh-th-m-kinh-d-t {
  position: absolute;
  width: 146px;
  top: 69px;
  left: 10px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #adb7bc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.signuppage-without .text-wrapper {
  position: absolute;
  top: 3px;
  left: 10px;
  font-family: var(--heading-03-font-family);
  font-weight: var(--heading-03-font-weight);
  color: #ffffff;
  font-size: var(--heading-03-font-size);
  letter-spacing: var(--heading-03-letter-spacing);
  line-height: var(--heading-03-line-height);
  white-space: nowrap;
  font-style: var(--heading-03-font-style);
}

.signuppage-without .frame-2 {
  position: absolute;
  width: 131px;
  height: 172px;
  top: 77px;
  left: 697px;
  overflow: hidden;
}

.signuppage-without .truy-n-ch-truy-n {
  position: absolute;
  width: 146px;
  top: 72px;
  left: 8px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #adb7bc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.signuppage-without .text-wrapper-2 {
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: var(--heading-03-font-family);
  font-weight: var(--heading-03-font-weight);
  color: #ffffff;
  font-size: var(--heading-03-font-size);
  letter-spacing: var(--heading-03-letter-spacing);
  line-height: var(--heading-03-line-height);
  white-space: nowrap;
  font-style: var(--heading-03-font-style);
}

.signuppage-without .frame-3 {
  position: absolute;
  width: 191px;
  height: 95px;
  top: 80px;
  left: 934px;
  overflow: hidden;
}

.signuppage-without .text-wrapper-3 {
  position: absolute;
  width: 185px;
  top: 69px;
  left: 6px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #adb7bc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: underline;
}

.signuppage-without .text-wrapper-4 {
  position: absolute;
  top: 3px;
  left: 6px;
  font-family: var(--heading-03-font-family);
  font-weight: var(--heading-03-font-weight);
  color: #ffffff;
  font-size: var(--heading-03-font-size);
  letter-spacing: var(--heading-03-letter-spacing);
  line-height: var(--heading-03-line-height);
  white-space: nowrap;
  font-style: var(--heading-03-font-style);
}

.signuppage-without .frame-4 {
  position: absolute;
  width: 277px;
  height: 150px;
  top: 50px;
  left: 133px;
}

.signuppage-without .logo {
  position: absolute;
  width: 240px;
  height: 85px;
  top: 3px;
  left: 10px;
}

.signuppage-without .image-6 {
  width: 93px;
  height: 85px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.signuppage-without .logo-2 {
  display: flex;
  width: 125px;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 25px;
  left: 115px;
}

.signuppage-without .CLICON {
  position: relative;
  width: fit-content;
  margin-top: -3.5px;
  margin-bottom: -1.5px;
  margin-left: -7px;
  margin-right: -7px;
  font-family: "Public Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: 40px;
  white-space: nowrap;
}

.signuppage-without .i-h-c-qu-c-gia-TP {
  position: absolute;
  width: 256px;
  top: 99px;
  left: 21px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #adb7bc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.signuppage-without .overlap-group {
  position: absolute;
  width: 1249px;
  height: 567px;
  top: 186px;
  left: 16px;
  border-radius: 4px;
}

.signuppage-without .sign-in-popup {
  display: flex;
  flex-direction: column;
  width: 1249px;
  height: 567px;
  align-items: center;
  gap: 24px;
  padding: 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-100);
  box-shadow: var(--dropdown-shadow);
}

.signuppage-without .log-in {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.signuppage-without .sign-in-to-your {
  position: relative;
  width: 360px;
  margin-top: -1px;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: var(--gray-900);
  font-size: var(--body-XL-600-font-size);
  text-align: center;
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  font-style: var(--body-XL-600-font-style);
}

.signuppage-without .check-box {
  display: flex;
  width: 347px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 416px;
  left: 451px;
  background-color: #ffffff;
}

.signuppage-without .from-elements {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid;
  border-color: #000000;
  margin: -2px 0px;
}

.signuppage-without .duotone-check {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 4px;
  left: 3px;
}

.signuppage-without .b-n-ng-v-i-i-u-kho-n {
  position: relative;
  width: 319px;
  margin-top: -1px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.signuppage-without .span {
  color: #475156;
  font-family: var(--body-small-400-font-family);
  font-style: var(--body-small-400-font-style);
  font-weight: var(--body-small-400-font-weight);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-size: var(--body-small-400-font-size);
}

.signuppage-without .text-wrapper-5 {
  color: #2da5f3;
  font-family: var(--body-small-400-font-family);
  font-style: var(--body-small-400-font-style);
  font-weight: var(--body-small-400-font-weight);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-size: var(--body-small-400-font-size);
}

.signuppage-without .text-wrapper-6 {
  font-weight: var(--body-small-500-font-weight);
  color: #2ca4f3;
  font-family: var(--body-small-500-font-family);
  font-style: var(--body-small-500-font-style);
  letter-spacing: var(--body-small-500-letter-spacing);
  line-height: var(--body-small-500-line-height);
  font-size: var(--body-small-500-font-size);
}

.signuppage-without .from {
  display: flex;
  flex-direction: column;
  width: 463px;
  height: 292px;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 92px;
  left: 117px;
}

.signuppage-without .order-ID {
  display: flex;
  flex-direction: column;
  width: 463px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.signuppage-without .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-900);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-style: var(--body-small-400-font-style);
}

.signuppage-without .input-field {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 30px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid;
  border-color: var(--gray-100);
}

.signuppage-without .password {
  position: absolute;
  top: 4px;
  left: 16px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-500);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.signuppage-without .regular-eye {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 427px;
}

.signuppage-without .from-2 {
  display: flex;
  flex-direction: column;
  width: 463px;
  height: 292px;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 92px;
  left: 646px;
}

.signuppage-without .group {
  position: relative;
  width: 463px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid;
  border-color: var(--gray-100);
}

.signuppage-without .regular-caretdown {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  left: 432px;
}

.signuppage-without .order-ID-2 {
  display: flex;
  flex-direction: column;
  width: 463px;
  height: 58px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.signuppage-without .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 24px;
  position: absolute;
  top: 453px;
  left: 557px;
  background-color: var(--secondary-500);
  border-radius: 2px;
  
  box-sizing: border-box;
}

.signuppage-without .button .label {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-07-font-family);
  font-weight: var(--heading-07-font-weight);
  color: #ffffff;
  font-size: var(--heading-07-font-size);
  letter-spacing: var(--heading-07-letter-spacing);
  line-height: var(--heading-07-line-height);
  white-space: nowrap;
  font-style: var(--heading-07-font-style);
}

.signuppage-without .navigation {
  position: absolute;
  width: 1280px;
  height: 176px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.signuppage-without .mid-nav {
  position: absolute;
  width: 1280px;
  height: 50px;
  top: 126px;
  left: 0;
  background-color: #1b6392;
}

.signuppage-without .searchbar {
  display: flex;
  width: 385px;
  height: 27px;
  align-items: flex-start;
  gap: 8px;
  padding: 4px 20px 14px;
  position: absolute;
  top: 12px;
  left: 425px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0px 8px 32px #00000014;
}

.signuppage-without .form {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.signuppage-without .text-wrapper-8 {
  position: relative;
  width: 321px;
  margin-top: -1px;
  margin-bottom: -10px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-500);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-style: var(--body-small-400-font-style);
}

.signuppage-without .text-wrapper-10 {
  position: relative;
  width: 321px;
  height: 20px;
  top: 0;
  left: 0;
  font-family: "Public Sans-Regular", Helvetica;
  font-weight: 400;
  color: #76868e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  border: 0px;
  margin: -0.5px 0px;
}

.signuppage-without .magnifying-glass {
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: -11px;
  margin-right: -4px;
}

.signuppage-without .icons {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 9px;
  left: 982px;
}

.signuppage-without .img-2 {
  position: relative;
  width: 32px;
  height: 32px;
}

.signuppage-without .notification {
  position: relative;
  width: 33px;
  height: 33px;
}

.signuppage-without .logo-3 {
  position: absolute;
  width: 126px;
  height: 35px;
  top: 8px;
  left: 126px;
}

.signuppage-without .image-7 {
  position: absolute;
  width: 38px;
  height: 35px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.signuppage-without .logo-4 {
  display: flex;
  width: 79px;
  height: 23px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 6px;
  left: 47px;
}

.signuppage-without .CLICON-2 {
  position: relative;
  width: fit-content;
  margin-top: -9.7px;
  margin-bottom: -7.7px;
  margin-left: -4.23px;
  margin-right: -4.23px;
  font-family: "Public Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: 40px;
  white-space: nowrap;
}

.signuppage-without .top-nav {
  position: absolute;
  width: 1280px;
  height: 47px;
  top: 78px;
  left: 0;
  background-color: #1b6392;
}

.signuppage-without .navbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 10px;
  left: 792px;
}

.signuppage-without .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: #ffffff;
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.signuppage-without .line {
  position: relative;
  width: 1px;
  height: 28px;
  object-fit: cover;
}

.signuppage-without .welcome {
  position: absolute;
  top: 14px;
  left: 137px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-00);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.signuppage-without .image-8 {
  width: 1280px;
  height: 78px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.popup {
  width: 424px;
  height: 247px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #1b6392;
  margin: 4.7% 31.7%;
  display: none;
}

.popup .overlap-group {
  position: relative;
  height: 247px;
  border-radius: 4px;
}

.popup .login {
  position: absolute;
  width: 424px;
  height: 247px;
  top: 0;
  left: 0;
  background-color: var(--gray-00);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--gray-100);
  box-shadow: var(--dropdown-shadow);
}

.popup .line {
  position: absolute;
  width: 424px;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.popup .tab {
  width: 424px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
}

.popup .sign-in-wrapper {
  gap: 10px;
  padding: 16px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: var(--gray-00);
  box-shadow: inset 0px -3px 0px #f98131, inset 0px 1px 0px #e4e7e9, inset 1px 0px 0px #e4e7e9;
  display: flex;
  align-items: flex-start;
}

.popup .sign-in {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: var(--gray-900);
  font-size: var(--body-XL-600-font-size);
  text-align: center;
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  font-style: var(--body-XL-600-font-style);
}

.popup .text-wrapper {
  position: absolute;
  word-break: break-word;
  width: 320px;
  height: 84px;
  top: 74px;
  left: 52px;
  font-family: "Public Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--gray-900);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.popup .button {
  display: flex;
  width: 360px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 24px;
  position: absolute;
  top: 171px;
  left: 32px;
  background-color: #1b6392;
  border-radius: 2px;
  box-sizing: border-box;
}

.popup .label {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-07-font-family);
  font-weight: var(--heading-07-font-weight);
  color: var(--gray-00);
  font-size: var(--heading-07-font-size);
  letter-spacing: var(--heading-07-letter-spacing);
  line-height: var(--heading-07-line-height);
  white-space: nowrap;
  font-style: var(--heading-07-font-style);
}