* {
  box-sizing: border-box;
}

.main-cart {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 30px;
  position: relative;
}

.wrapper {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: auto;
  border-radius: 4px;
  border: 1px solid var(--Gray-100, #e4e7e9);
  background: var(--Gray-00, #fff);
  position: relative;
  z-index: 0;
  overflow: visible;
}

.overlay-cart .wrapper {
  padding: 20px;
}

.main-cart h1 {
  border-radius: 4px 4px 0px 0px;
  color: var(--Gray-900, #191c1f);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  padding: 5px 10px;
}

.main-cart .cart-total-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 22px;
  padding: 5px 10px;
  border: 1px solid var(--Gray-100, #e4e7e9);
  background: var(--Gray-50, #f2f4f5);
}

.main-cart .cart-total-price .total-price {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5px;
}

.main-cart .cart-total-price span {
  color: #044876;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-transform: uppercase;
}

.main-cart .cart-total-price button {
  color: #044876;
  border-radius: 3px;
  border: 1px solid #044876;
  background: rgba(66, 155, 214, 0.55);
  padding: 5px 10px;
}

.main-cart .cart-total-price button:hover {
  cursor: pointer;
}

.main-cart .cart-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  padding: 12px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: visible;
}

.main-cart .cart-item {
  height: 100px;
  display: flex;
  position: relative;
  gap: 20px;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.16);
  transition: all .1s ease;
}

.delete-cart-item {
  position: absolute;
  z-index: 2;
  border: none;
  padding: 5px;
  background: rgba(0,0,0,0);
  padding: 2px 1px;
  font-size: 20px;
  aspect-ratio: 1/1;
  cursor: pointer;
  left: 0px;
  top: 0px;
}

.main-cart .cart-item:hover {
  user-select: none;
}

.main-cart .cart-item img {
  flex-grow: 1;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 5px;
  cursor: default;
}

.main-cart .cart-item .detail {
  flex-grow: 100;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.detail > span {
  display: flex;
  align-items: center;
}

.detail .book-name {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.detail .item-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.detail .item-price span {
  color: #044876;
}

.main-cart .cart-item .item-total-price {
  flex-grow: 1;
  min-width: 120px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 5px;
  position: relative;
}

.main-cart .cart-item input {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 20px;
  aspect-ratio: 1/1;
}

.overlay-cart {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  scale: 0.8;
}

.overlay-cart .buy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.overlay-cart .cart-list {
  border: 1px solid #000;
}

.overlay-cart form {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

.overlay-cart form input[type="text" i] {
  text-indent: 10px;
}

.overlay-cart form input,
.overlay-cart form select {
  border: none;
  outline: 1.5px solid black;
  border-radius: 3px;
  padding: 0;
  width: 100%;
  height: 40px;
}

.overlay-cart form > div {
  position: relative;
}

.overlay-cart form label {
  padding: 0 10px;
  background-color: #fff;
  position: absolute;
  top: -11px;
  left: 5px;
}

.overlay-cart .total {
  width: 150px;
  height: auto;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.overlay-cart .total input {
  width: 100%;
  border: none;
  outline: 2px solid black;
  border-radius: 3px;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 600;
}

.overlay-cart .btn-group {
  margin: 0 auto;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.overlay-cart .btn-group button {
  padding: 15px 25px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.192px;
  text-transform: uppercase;
}

.overlay-cart .btn-group #cancel {
  border-radius: 3px;
  border: 2px solid #144e74;
  background: #f55b5b;
}

.overlay-cart .btn-group #confirm-buy {
  border-radius: 3px;
  border: 2px solid #144e74;
  background: #044876;
}

#delete-popup {
  position: absolute;
  padding: 20px;
  z-index: 1;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.delete-side {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-popup {
  padding: 0 50px 20px 50px;
  border: 2px solid black;
  width: max-content;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delete-popup .btn-group {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-popup .btn-group button {
  padding: 5px 10px;
  transition: all .2s ease-in-out;
}

button#confirm-delete {
  border-radius: 2px;
  border: 2px solid rgba(255, 0, 0, 0.52);
  background: rgba(255, 0, 0, 0.20);
}

button#cancel-delete {
  border-radius: 2px;
  border: 2px solid var(--Secondary-500, #2DA5F3);
  background: rgba(20, 136, 219, 0.20);
}

.delete-popup .btn-group button:hover {
  transform: scale(1.1);
}