@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>6Ducks</title>
    <link rel="stylesheet" href="/assets/styles/header-footer.css" />
    <link rel="stylesheet" href="/assets/styles/globals.css" />
    <link rel="stylesheet" href="/signin/signin.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="mainpage-signin">
      <div class="wrapper">
        <header>Đăng kí</header>
            <form action="@Url.Action("RegisterNewUser", "SignIn")" 
            class="signin-form" method="post" id="signupForm">
          <div class="left-form">
            <div class="form-item">
              <label for="username">Tên đăng nhập</label>
              <input type="text" name="username" id="username" />
            </div>
            <div class="form-item">
              <label for="email">Gmail/SĐT</label>
              <input type="email" name="email" id="email" />
            </div>
            <div class="form-item">
              <label for="pwd">Mật khẩu</label>
              <input type="password" name="pwd" id="pwd" />
              <ion-icon name="eye-outline" class="show-pwd"></ion-icon>
              <ion-icon name="eye-off-outline" class="hide-pwd"></ion-icon>
            </div>
            <div class="form-item">
              <label for="re-pwd">Nhập lại mật khẩu</label>
              <input type="password" name="re_pwd" id="re-pwd" />
              <ion-icon name="eye-outline" class="show-pwd"></ion-icon>
              <ion-icon name="eye-off-outline" class="hide-pwd"></ion-icon>
            </div>
          </div>
          <div class="right-form">
            <div class="form-item">
              <label for="account-type">Loại tài khoản</label>
              <select
                name="account_type"
                id="account-type"
                placeholder="Chọn loại tài khoản"
              >
                <option value="user">Người dùng</option>
                <option value="seller">Người bán</option>
              </select>
            </div>
            <div class="form-item">
              <label for="address">Địa chỉ</label>
              <input type="text" name="address" id="address" />
            </div>
            <div class="form-item">
              <label for="code">Code xác minh</label>
              <input type="text" name="code" id="code" />
            </div>
          </div>
        </form>
        <div class="checkbox">
          <input type="checkbox" name="acp-check" id="acp-check" />
          <label for="acp-check"
            >Bạn đồng ý với <span>Điều khoản dịch vụ</span> của
            <span>SixDucks</span></label
          >
        </div>
        <button type="submit" form="signupForm">Đăng kí</button>
        <div class="login-btn">
          <p>Đã có tài khoản? <span>Đăng nhập</span></p>
        </div>
      </div>
    </div>
    <script src="/signin/signin.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
