.mainpage-buyer-login {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mainpage-buyer-login .div {
  background-color: #ffffff;
  width: 1280px;
  height: 2608px;
  position: relative;
}

.mainpage-buyer-login .bottom {
  position: absolute;
  width: 590px;
  height: 44px;
  top: 2552px;
  left: 337px;
}

.mainpage-buyer-login .image {
  position: absolute;
  width: 52px;
  height: 22px;
  top: 11px;
  left: 13px;
  object-fit: cover;
}

.mainpage-buyer-login .img {
  position: absolute;
  width: 52px;
  height: 22px;
  top: 11px;
  left: 92px;
  object-fit: cover;
}

.mainpage-buyer-login .image-2 {
  position: absolute;
  width: 68px;
  height: 16px;
  top: 14px;
  left: 189px;
  object-fit: cover;
}

.mainpage-buyer-login .image-3 {
  position: absolute;
  width: 68px;
  height: 16px;
  top: 14px;
  left: 307px;
  object-fit: cover;
}

.mainpage-buyer-login .image-4 {
  position: absolute;
  width: 68px;
  height: 16px;
  top: 14px;
  left: 409px;
  object-fit: cover;
}

.mainpage-buyer-login .image-5 {
  position: absolute;
  width: 68px;
  height: 16px;
  top: 14px;
  left: 511px;
  object-fit: cover;
}

.mainpage-buyer-login .end {
  position: absolute;
  width: 1280px;
  height: 385px;
  top: 2151px;
  left: 0;
  background-color: #1b6392;
}

.mainpage-buyer-login .frame {
  position: absolute;
  width: 112px;
  height: 268px;
  top: 80px;
  left: 484px;
  overflow: hidden;
}

.mainpage-buyer-login .trinh-th-m-kinh-d-t {
  position: absolute;
  width: 146px;
  top: 69px;
  left: 10px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #adb7bc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.mainpage-buyer-login .text-wrapper {
  position: absolute;
  top: 3px;
  left: 10px;
  font-family: var(--heading-03-font-family);
  font-weight: var(--heading-03-font-weight);
  color: #ffffff;
  font-size: var(--heading-03-font-size);
  letter-spacing: var(--heading-03-letter-spacing);
  line-height: var(--heading-03-line-height);
  white-space: nowrap;
  font-style: var(--heading-03-font-style);
}

.mainpage-buyer-login .frame-2 {
  position: absolute;
  width: 131px;
  height: 259px;
  top: 77px;
  left: 697px;
  overflow: hidden;
}

.mainpage-buyer-login .truy-n-ch-truy-n {
  position: absolute;
  width: 146px;
  top: 72px;
  left: 8px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #adb7bc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.mainpage-buyer-login .text-wrapper-2 {
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: var(--heading-03-font-family);
  font-weight: var(--heading-03-font-weight);
  color: #ffffff;
  font-size: var(--heading-03-font-size);
  letter-spacing: var(--heading-03-letter-spacing);
  line-height: var(--heading-03-line-height);
  white-space: nowrap;
  font-style: var(--heading-03-font-style);
}

.mainpage-buyer-login .frame-3 {
  position: absolute;
  width: 191px;
  height: 95px;
  top: 80px;
  left: 934px;
  overflow: hidden;
}

.mainpage-buyer-login .text-wrapper-3 {
  position: absolute;
  width: 185px;
  top: 69px;
  left: 6px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #adb7bc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: underline;
}

.mainpage-buyer-login .text-wrapper-4 {
  position: absolute;
  top: 3px;
  left: 6px;
  font-family: var(--heading-03-font-family);
  font-weight: var(--heading-03-font-weight);
  color: #ffffff;
  font-size: var(--heading-03-font-size);
  letter-spacing: var(--heading-03-letter-spacing);
  line-height: var(--heading-03-line-height);
  white-space: nowrap;
  font-style: var(--heading-03-font-style);
}

.mainpage-buyer-login .frame-4 {
  position: absolute;
  width: 277px;
  height: 150px;
  top: 50px;
  left: 133px;
}

.mainpage-buyer-login .logo {
  position: absolute;
  width: 240px;
  height: 85px;
  top: 3px;
  left: 10px;
}

.mainpage-buyer-login .image-6 {
  width: 93px;
  height: 85px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.mainpage-buyer-login .logo-2 {
  display: flex;
  width: 125px;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 25px;
  left: 115px;
}

.mainpage-buyer-login .CLICON {
  position: relative;
  width: fit-content;
  margin-top: -3.5px;
  margin-bottom: -1.5px;
  margin-left: -7px;
  margin-right: -7px;
  font-family: "Public Sans", Helvetica;
  font-weight: 700;
  color: var(--gray-00);
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: 40px;
  white-space: nowrap;
}

.mainpage-buyer-login .i-h-c-qu-c-gia-TP {
  position: absolute;
  width: 256px;
  top: 99px;
  left: 21px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #adb7bc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.mainpage-buyer-login .sell-off {
  position: absolute;
  width: 977px;
  height: 661px;
  top: 250px;
  left: 160px;
}

.mainpage-buyer-login .product {
  position: absolute;
  width: 975px;
  height: 610px;
  top: 51px;
  left: 0;
}

.mainpage-buyer-login .product-2 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 326px;
  left: 0;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000003b;
}

.mainpage-buyer-login .rating {
  display: inline-flex;
  height: 13px;
  align-items: flex-start;
  gap: 2px;
  position: absolute;
  top: 258px;
  left: 12px;
}

.mainpage-buyer-login .regular-star {
  position: relative;
  width: 12px;
  height: 12px;
}

.mainpage-buyer-login .regular-star-2 {
  position: relative;
  width: 13px;
  height: 12px;
}

.mainpage-buyer-login .text-wrapper-5 {
  position: absolute;
  width: 42px;
  top: 253px;
  left: 86px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: var(--gray-500);
  font-size: 10px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.mainpage-buyer-login .price {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 234px;
  left: 12px;
}

.mainpage-buyer-login .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-small-600-font-family);
  font-weight: var(--body-small-600-font-weight);
  color: var(--secondary-500);
  font-size: var(--body-small-600-font-size);
  letter-spacing: var(--body-small-600-letter-spacing);
  line-height: var(--body-small-600-line-height);
  white-space: nowrap;
  font-style: var(--body-small-600-font-style);
}

.mainpage-buyer-login .name {
  position: absolute;
  width: 196px;
  top: 200px;
  left: 12px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #191c1e;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 15px;
}

.mainpage-buyer-login .image-7 {
  position: absolute;
  width: 196px;
  height: 176px;
  top: 16px;
  left: 12px;
}

.mainpage-buyer-login .product-3 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 0;
  left: 505px;
  border: 1px solid;
  border-color: #0000003b;
}

.mainpage-buyer-login .product-4 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 0;
  left: 252px;
  border: 1px solid;
  border-color: #0000003b;
}

.mainpage-buyer-login .product-5 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 0;
  left: 755px;
  border: 1px solid;
  border-color: #0000003b;
}

.mainpage-buyer-login .image-8 {
  position: absolute;
  width: 196px;
  height: 176px;
  top: 16px;
  left: 12px;
  object-fit: cover;
}

.mainpage-buyer-login .product-6 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 326px;
  left: 505px;
  border: 1px solid;
  border-color: #0000003b;
}

.mainpage-buyer-login .product-7 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 326px;
  left: 252px;
  border: 1px solid;
  border-color: #0000003b;
}

.mainpage-buyer-login .product-8 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 326px;
  left: 755px;
  border: 1px solid;
  border-color: #0000003b;
}

.mainpage-buyer-login .product-9 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 0;
  left: 0;
  border: 1px solid;
  border-color: #0000003b;
}

.mainpage-buyer-login .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--heading-03-font-family);
  font-weight: var(--heading-03-font-weight);
  color: var(--gray-900);
  font-size: var(--heading-03-font-size);
  letter-spacing: var(--heading-03-letter-spacing);
  line-height: var(--heading-03-line-height);
  white-space: nowrap;
  font-style: var(--heading-03-font-style);
}

.mainpage-buyer-login .bestseller {
  position: absolute;
  width: 977px;
  height: 661px;
  top: 1446px;
  left: 160px;
}

.mainpage-buyer-login .overlap {
  position: absolute;
  width: 52px;
  height: 33px;
  top: 231px;
  left: 86px;
}

.mainpage-buyer-login .text-wrapper-8 {
  position: absolute;
  width: 42px;
  top: 22px;
  left: 0;
  font-weight: 400;
  color: var(--gray-500);
  font-size: 10px;
  line-height: 20px;
  white-space: nowrap;
  font-family: "Public Sans", Helvetica;
  letter-spacing: 0;
}

.mainpage-buyer-login .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  color: #191c1e;
  font-size: 12px;
  line-height: 24px;
  text-decoration: line-through;
  white-space: nowrap;
  font-family: "Public Sans", Helvetica;
  letter-spacing: 0;
}

.mainpage-buyer-login .overlap-group {
  position: absolute;
  width: 196px;
  height: 176px;
  top: 16px;
  left: 12px;
  background-image: url(./img/image-20.png);
  background-size: 100% 100%;
}

.mainpage-buyer-login .badge {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 10px;
  position: relative;
  background-color: var(--warning-400);
  border-radius: 2px;
}

.mainpage-buyer-login .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-tiny-600-font-family);
  font-weight: var(--body-tiny-600-font-weight);
  color: var(--gray-900);
  font-size: var(--body-tiny-600-font-size);
  letter-spacing: var(--body-tiny-600-letter-spacing);
  line-height: var(--body-tiny-600-line-height);
  white-space: nowrap;
  font-style: var(--body-tiny-600-font-style);
}

.mainpage-buyer-login .overlap-2 {
  position: absolute;
  width: 60px;
  height: 33px;
  top: 231px;
  left: 86px;
}

.mainpage-buyer-login .text-wrapper-11 {
  position: absolute;
  top: 0;
  left: 5px;
  font-weight: 400;
  color: #191c1e;
  font-size: 12px;
  line-height: 24px;
  text-decoration: line-through;
  white-space: nowrap;
  font-family: "Public Sans", Helvetica;
  letter-spacing: 0;
}

.mainpage-buyer-login .badge-wrapper {
  position: absolute;
  width: 196px;
  height: 176px;
  top: 16px;
  left: 12px;
  background-image: url(./img/image-24.png);
  background-size: 100% 100%;
}

.mainpage-buyer-login .overlap-3 {
  position: absolute;
  width: 120px;
  height: 39px;
  top: 232px;
  left: 12px;
}

.mainpage-buyer-login .overlap-4 {
  position: absolute;
  width: 120px;
  height: 39px;
  top: 0;
  left: 0;
}

.mainpage-buyer-login .rating-2 {
  top: 26px;
  display: inline-flex;
  height: 13px;
  align-items: flex-start;
  gap: 2px;
  position: absolute;
  left: 0;
}

.mainpage-buyer-login .overlap-5 {
  position: absolute;
  width: 52px;
  height: 32px;
  top: 0;
  left: 68px;
}

.mainpage-buyer-login .text-wrapper-12 {
  position: absolute;
  width: 42px;
  top: 21px;
  left: 6px;
  font-weight: 400;
  color: var(--gray-500);
  font-size: 10px;
  line-height: 20px;
  white-space: nowrap;
  font-family: "Public Sans", Helvetica;
  letter-spacing: 0;
}

.mainpage-buyer-login .div-wrapper {
  position: absolute;
  top: 2px;
  left: 0;
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
}

.mainpage-buyer-login .overlap-6 {
  position: absolute;
  width: 196px;
  height: 176px;
  top: 16px;
  left: 12px;
  background-image: url(./img/image-25.png);
  background-size: 100% 100%;
}

.mainpage-buyer-login .element-OFF-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 10px;
  position: relative;
  left: 1px;
  background-color: var(--warning-400);
  border-radius: 2px;
}

.mainpage-buyer-login .overlap-7 {
  position: absolute;
  width: 55px;
  height: 32px;
  top: 232px;
  left: 86px;
}

.mainpage-buyer-login .text-wrapper-13 {
  position: absolute;
  width: 42px;
  top: 21px;
  left: 0;
  font-weight: 400;
  color: var(--gray-500);
  font-size: 10px;
  line-height: 20px;
  white-space: nowrap;
  font-family: "Public Sans", Helvetica;
  letter-spacing: 0;
}

.mainpage-buyer-login .overlap-8 {
  position: absolute;
  width: 196px;
  height: 176px;
  top: 16px;
  left: 12px;
  background-image: url(./img/image-26.png);
  background-size: 100% 100%;
}

.mainpage-buyer-login .overlap-9 {
  position: absolute;
  width: 196px;
  height: 176px;
  top: 16px;
  left: 12px;
  background-image: url(./img/image-27.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mainpage-buyer-login .overlap-10 {
  position: absolute;
  width: 120px;
  height: 40px;
  top: 231px;
  left: 12px;
}

.mainpage-buyer-login .overlap-11 {
  position: absolute;
  width: 120px;
  height: 40px;
  top: 0;
  left: 0;
}

.mainpage-buyer-login .rating-3 {
  top: 27px;
  display: inline-flex;
  height: 13px;
  align-items: flex-start;
  gap: 2px;
  position: absolute;
  left: 0;
}

.mainpage-buyer-login .overlap-12 {
  position: absolute;
  width: 52px;
  height: 33px;
  top: 0;
  left: 68px;
}

.mainpage-buyer-login .text-wrapper-14 {
  position: absolute;
  width: 42px;
  top: 22px;
  left: 6px;
  font-weight: 400;
  color: var(--gray-500);
  font-size: 10px;
  line-height: 20px;
  white-space: nowrap;
  font-family: "Public Sans", Helvetica;
  letter-spacing: 0;
}

.mainpage-buyer-login .price-2 {
  position: absolute;
  top: 3px;
  left: 0;
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
}

.mainpage-buyer-login .overlap-13 {
  position: absolute;
  width: 196px;
  height: 176px;
  top: 16px;
  left: 12px;
  background-image: url(./img/image-28.png);
  background-size: 100% 100%;
}

.mainpage-buyer-login .overlap-14 {
  position: absolute;
  width: 47px;
  height: 33px;
  top: 231px;
  left: 86px;
}

.mainpage-buyer-login .overlap-15 {
  position: absolute;
  width: 196px;
  height: 176px;
  top: 16px;
  left: 12px;
  background-image: url(./img/image-29.png);
  background-size: 100% 100%;
}

.mainpage-buyer-login .overlap-16 {
  position: absolute;
  width: 55px;
  height: 33px;
  top: 231px;
  left: 86px;
}

.mainpage-buyer-login .overlap-17 {
  position: absolute;
  width: 196px;
  height: 176px;
  top: 16px;
  left: 12px;
  background-image: url(./img/image-30.png);
  background-size: cover;
  background-position: 50% 50%;
}

.mainpage-buyer-login .vouchers {
  display: flex;
  width: 1019px;
  height: 528px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 72px 300px;
  position: absolute;
  top: 911px;
  left: 138px;
}

.mainpage-buyer-login .voucher {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -282.5px;
}

.mainpage-buyer-login .text {
  position: relative;
  width: 312px;
  margin-top: -1px;
  font-weight: var(--body-medium-600-font-weight);
  color: var(--gray-900);
  font-size: var(--body-medium-600-font-size);
  line-height: var(--body-medium-600-line-height);
  font-family: var(--body-medium-600-font-family);
  letter-spacing: var(--body-medium-600-letter-spacing);
  font-style: var(--body-medium-600-font-style);
}

.mainpage-buyer-login .product-10 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--gray-00);
  border-radius: 3px;
  border: 1px solid;
  border-color: var(--gray-100);
}

.mainpage-buyer-login .image-9 {
  position: relative;
  width: 80px;
  height: 80px;
}

.mainpage-buyer-login .content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.mainpage-buyer-login .canon-EOS-DSLR {
  position: relative;
  width: 196px;
  margin-top: -1px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-900);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-style: var(--body-small-400-font-style);
}

.mainpage-buyer-login .price-3 {
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
}

.mainpage-buyer-login .freeship {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.mainpage-buyer-login .combo {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -282.5px;
}

.mainpage-buyer-login .navigation {
  position: absolute;
  width: 1280px;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.mainpage-buyer-login .bot-nav {
  display: flex;
  width: 1154px;
  height: 72px;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 178px;
  left: 126px;
  background-color: #ffffff;
}

.mainpage-buyer-login .left-side {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.mainpage-buyer-login .filter {
  position: relative;
  width: 133px;
  height: 48px;
}

.mainpage-buyer-login .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 24px;
  position: relative;
  background-color: var(--gray-50);
  border-radius: 2px;
  all: unset;
  box-sizing: border-box;
}

.mainpage-buyer-login .filter-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-small-500-font-family);
  font-weight: var(--body-small-500-font-weight);
  color: var(--gray-900);
  font-size: var(--body-small-500-font-size);
  letter-spacing: var(--body-small-500-letter-spacing);
  line-height: var(--body-small-500-line-height);
  white-space: nowrap;
  font-style: var(--body-small-500-font-style);
}

.mainpage-buyer-login .regular-caretdown {
  position: relative;
  width: 16px;
  height: 16px;
}

.mainpage-buyer-login .div-2 {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.mainpage-buyer-login .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.mainpage-buyer-login .text-wrapper-15 {
  position: relative;
  width: fit-content;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-600);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.mainpage-buyer-login .overlap-18 {
  position: absolute;
  width: 1280px;
  height: 50px;
  top: 126px;
  left: 0;
}

.mainpage-buyer-login .mid-nav {
  position: absolute;
  width: 1280px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #1b6392;
}

.mainpage-buyer-login .searchbar {
  display: flex;
  width: 385px;
  height: 27px;
  align-items: flex-start;
  gap: 8px;
  padding: 4px 20px 14px;
  position: absolute;
  top: 12px;
  left: 425px;
  background-color: var(--gray-00);
  border-radius: 2px;
  box-shadow: 0px 8px 32px #00000014;

}

.mainpage-buyer-login .text-wrapper-16 {
  position: relative;
  width: 321px;
  margin-top: -1px;
  margin-bottom: -10px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-500);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-style: var(--body-small-400-font-style);
  outline: none;
  border: none;
}

.mainpage-buyer-login .magnifying-glass {
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
  margin-right: -4px;
}

.mainpage-buyer-login .icons {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 9px;
  left: 982px;
}

.mainpage-buyer-login .image-10 {
  position: relative;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.mainpage-buyer-login .notification {
  position: relative;
  width: 33px;
  height: 33px;
}

.mainpage-buyer-login .regular-user {
  position: relative;
  width: 32px;
  height: 32px;
}

.mainpage-buyer-login .logo-3 {
  position: absolute;
  width: 126px;
  height: 35px;
  top: 8px;
  left: 126px;
}

.mainpage-buyer-login .image-11 {
  width: 38px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.mainpage-buyer-login .logo-4 {
  display: flex;
  width: 79px;
  height: 23px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 6px;
  left: 47px;
}

.mainpage-buyer-login .CLICON-2 {
  position: relative;
  width: fit-content;
  margin-top: -9.7px;
  margin-bottom: -7.7px;
  margin-left: -4.23px;
  margin-right: -4.23px;
  font-family: "Public Sans", Helvetica;
  font-weight: 700;
  color: var(--gray-00);
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: 40px;
  white-space: nowrap;
}

.mainpage-buyer-login .text-wrapper-17 {
  position: absolute;
  top: 5px;
  left: 1058px;
  font-family: var(--body-small-600-font-family);
  font-weight: var(--body-small-600-font-weight);
  color: var(--secondary-500);
  font-size: var(--body-small-600-font-size);
  letter-spacing: var(--body-small-600-letter-spacing);
  line-height: var(--body-small-600-line-height);
  white-space: nowrap;
  font-style: var(--body-small-600-font-style);
  background-color: #1b6392;
}

.mainpage-buyer-login .top-nav {
  position: absolute;
  width: 1280px;
  height: 47px;
  top: 78px;
  left: 0;
  background-color: #1b6392;
}

.mainpage-buyer-login .right-content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 9px;
  left: 865px;
}

.mainpage-buyer-login .text-wrapper-18 {
  position: relative;
  width: fit-content;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-00);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.mainpage-buyer-login .line {
  position: relative;
  width: 1px;
  height: 28px;
  object-fit: cover;
}

.mainpage-buyer-login .welcome {
  position: absolute;
  top: 14px;
  left: 137px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: #ffffff;
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.mainpage-buyer-login .image-12 {
  position: absolute;
  width: 1280px;
  height: 78px;
  top: 0;
  left: 0;
  object-fit: cover;
}



.popup {

  width: 424px;
  height: 189px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #1b6392;
  margin: 15% 31.7%;
  display: none;
}

.popup .overlap-group {
  position: relative;
  height: 189px;
  border-radius: 4px;
}

.popup .login {
  position: absolute;
  width: 424px;
  height: 189px;
  top: 0;
  left: 0;
  background-color: var(--gray-00);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--gray-100);
  box-shadow: var(--dropdown-shadow);
}

.popup .line {
  position: absolute;
  width: 424px;
  height: 1px;
  top: 0px;
  left: 0;
  object-fit: cover;
}

.popup .tab {
  width: 424px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
}

.popup .sign-in-wrapper {
  gap: 10px;
  padding: 16px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: var(--gray-00);
  box-shadow: inset 0px -3px 0px #f98131, inset 0px 1px 0px #e4e7e9, inset 1px 0px 0px #e4e7e9;
  display: flex;
  align-items: flex-start;
}

.popup .sign-in {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: var(--gray-900);
  font-size: var(--body-XL-600-font-size);
  text-align: center;
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  font-style: var(--body-XL-600-font-style);
}

.popup .text-wrapper {
  position: absolute;
  width: 320px;
  top: 74px;
  left: 52px;
  font-family: "Public Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--gray-900);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.popup .button {
  left: 32px;
  background-color: #429bd5;
  display: flex;
  width: 150px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 24px;
  position: absolute;
  top: 124px;
  border-radius: 2px;
  box-sizing: border-box;
}

.popup .label {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-07-font-family);
  font-weight: var(--heading-07-font-weight);
  color: var(--gray-00);
  font-size: var(--heading-07-font-size);
  letter-spacing: var(--heading-07-letter-spacing);
  line-height: var(--heading-07-line-height);
  white-space: nowrap;
  font-style: var(--heading-07-font-style);
}

.popup .div {
  left: 241px;
  background-color: #1b6392;
  display: flex;
  width: 150px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 24px;
  position: absolute;
  top: 124px;
  border-radius: 2px;
  box-sizing: border-box;
}

#log-out{
  border: none;
  outline: none;
  background-color: transparent;
  display: inline;
}

#log-in{
  display: none;
  gap:24px;
  align-items: center;
  justify-content: center;
}