.seller-info {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  padding: 32px;
  border-radius: 4px;
  border: 1px solid var(--gray-100, #e4e7e9);
  background: var(--gray-00, #fff);
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
}

.seller-info .left_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 40%;
}

.left_section .seller_info {
  margin-bottom: 14px;
  background-color: var(--gray-00);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-100);
  box-shadow: var(--dropdown-shadow);
  width: 70%;
}
.left_section .rating_info {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--gray-00);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-100);
  box-shadow: var(--dropdown-shadow);
  width: 70%;
}
.seller_info .seller {
  font-weight: 600;
  color: #191c1e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}
.seller_containter {
  margin: 32px;
}
.container_seller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
}
.seller_name {
  font-size: 26px;
  font-weight: 400;
  line-height: 28px;
  white-space: nowrap;
  color: #044876;
}
.second_info {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.rating_info .rating_wrapper {
  margin: 32px 32px 0 32px;
  font-weight: 600;
  color: #191c1e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}

div.stars {
  width: 160px;
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 2px;
  font-size: 25px;
  color: #444;
  transition: all 0.2s;
}

input.star:checked ~ label.star:before {
  content: "\f005";
  color: #fd4;
  transition: all 0.25s;
}

input.star-5:checked ~ label.star:before {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
  color: #f62;
}

label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  margin-left: -2px;
  content: "\f006";
  font-family: FontAwesome;
}
.rating {
  display: flex;
  font-weight: 400;
  color: #76868e;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  /* flex: 1; */
  margin-top: 12px;
  margin-left: 30.14px;
  margin-right: 51.67px;
  height: 138px;
  background-color: #efeaea;
  /* background-color: #191c1e; */
}
.scoreboard .letter {
  width: 48px;
  margin-top: 13px;
  margin-left: 13px;
  font-weight: 400;
  color: var(--gray-500);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.scoreboard .bar_5 {
  margin-bottom: 4.3px;
  width: 194px;
  height: 16px;
  background-color: #d6cdcd;
}
.scoreboard .bar_4 {
  margin-bottom: 4.3px;
  width: 160px;
  height: 16px;
  background-color: #d6cdcd;
}
.scoreboard .bar_3 {
  margin-bottom: 4.3px;
  width: 140px;
  height: 16px;
  background-color: #d6cdcd;
}
.scoreboard .bar_2 {
  margin-bottom: 4.3px;
  width: 20px;
  height: 16px;
  background-color: #d6cdcd;
}
.scoreboard .bar_1 {
  width: 10px;
  height: 16px;
  background-color: #d6cdcd;
}
.row_bar {
  margin-top: 13px;
  margin-right: 14.33px;
  margin-bottom: 15px;
  color: #044876;
  width: 194px;
}

.button {
  display: flex;
  flex-direction: row;
  margin-top: 21px;
  width: 270.19px;
  height: 48px;
  background-color: #044876;
  margin-left: 30.14px;
  margin-right: 51.67px;
  margin-bottom: 67px;
}
.button .see {
  position: relative;
  padding-left: 24px;
  width: fit-content;
  width: -moz-fit-content;
  font-family: var(--heading-07-font-family);
  font-weight: var(--heading-07-font-weight);
  color: var(--gray-00);
  font-size: var(--heading-07-font-size);
  letter-spacing: var(--heading-07-letter-spacing);
  line-height: var(--heading-07-line-height);
  white-space: nowrap;
  font-style: var(--heading-07-font-style);
}
.button .regular_arrowright {
  margin-top: 14px;
  margin-left: 8px;
  position: relative;
  width: 20px;
  height: 20px;
}

.table_wrapper {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.table_show {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 5px;
  background-color: var(--gray-00);
  border: 1px solid;
  border-color: var(--gray-100);
}

.title_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title {
  margin: 16px 608px 16px 24px;
  font-family: var(--label-03-font-family);
  font-weight: 550;
  color: var(--gray-900);
  font-size: var(--label-03-font-size);
  letter-spacing: var(--label-03-letter-spacing);
  line-height: var(--label-03-line-height);
  white-space: nowrap;
  font-style: var(--label-03-font-style);
}

.close {
  font-weight: 600;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 15px;
}

.navi {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.seller_containter .button {
  display: flex;
  flex-direction: row;
  width: 265px;
  height: 48px;
  background-color: #044876;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 0%;
}
.seller_containter .button .see {
  position: relative;
  padding-left: 13%;
  width: fit-content;
  width: -moz-fit-content;
  font-family: var(--heading-07-font-family);
  font-weight: var(--heading-07-font-weight);
  color: var(--gray-00);
  font-size: var(--heading-07-font-size);
  letter-spacing: var(--heading-07-letter-spacing);
  line-height: var(--heading-07-line-height);
  white-space: nowrap;
  font-style: var(--heading-07-font-style);
  text-transform: uppercase;
}
.seller_containter .button .regular_arrowright {
  margin-top: 14px;
  margin-left: 8px;
  position: relative;
  width: 20px;
  height: 20px;
}

.navi {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-bottom: 10px;
}

.mainpage {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  row-gap: 50px;
  padding: 50px 0;
}

.seller-information {
  align-items: flex-start;
}

.layout {
  flex: 50%;
}

.pagination {
  display: inline-block;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  & p {
    color: black;
    float: left;
    height: 40px;
    aspect-ratio: 1 / 1;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray-100, #e4e7e9);
    background: var(--gray-00, #fff);
  }

  & p.active {
    color: #ffffff;
    background: var(--primary-500, #fa8232);
  }

  & p.arrow {
    color: #fa8232;
    border: 1.5px solid var(--primary-500, #fa8232);
  }

  .arrow:hover {
    color: #ffffff;
    background: var(--primary-500, #fa8232);
  }

  & p:hover:not(.active, .arrow) {
    background-color: #ddd;
  }
}

.product {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  .active {
    display: flex;
  }
}

.product-list {
  width: 100%;
  display: none;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.product-item {
  flex-grow: 1;
  width: calc(50% - 30px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  & img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .container {
    padding: 2px 10px;
    & header {
      color: #191c1f;
      font-size: 11px;
      font-weight: 400;
      line-height: 15px;
    }
    .price {
      color: var(--secondary-500, #2da5f3);
      font-size: 14px;
      font-weight: 600;
      line-height: 10px;
    }
    .rate {
      color: #ebc80c;
      font-size: 12px;
      & span {
        color: var(--gray-500, #77878f);
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
      }
    }
  }
}

.product-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
