@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,
html {
  height: max-content;
  font-family: "Josefin San";
}
/* ------------------------------------ */
a {
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
a:focus {
  outline: none !important;
}
a:hover {
  text-decoration: none;
}
/* ------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
p {
  margin: 0px;
}
ul,
li {
  margin: 0px;
  list-style-type: none;
}
/* ------------------------------------ */
input {
  display: block;
  outline: none;
  border: none !important;
}
textarea {
  display: block;
  outline: none;
}
textarea:focus,
input:focus {
  border-color: transparent !important;
}
/* ------------------------------------ */
button {
  outline: none !important;
  border: none;
  background: transparent;
}
button:hover {
  cursor: pointer;
}
iframe {
  border: none !important;
}
/*//////////////////////////////////////////////////////////////////
    [ Table ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.table {
  width: max-content;
  margin: 0 auto;
  display: none;
  border-collapse: collapse;
  height: calc(100% - 80px);
}

.table.active {
  display: table;
}
.row {
  background: #fff;
}
.row.header {
  color: #ffffff;
  background: #6c7ae0;
}

.row.header:hover {
  color: #ffffff;
  background: #6c7ae0;
}

tr td {
  font-family: "Josefin Sans";
  font-size: 15px;
  color: #666666;
}

td.rating-trigger {
  font-weight: 600;
  color: #2ca4f3;
  font-size: 14px;
  letter-spacing: 0;
  white-space: nowrap;
}

#cho {
  color: #f98131;
}

#nhan {
  color: #2db223;
}

.row.header .cell {
  font-family: "Josefin San";
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;
}
tr td:nth-child(n) {
  text-align: center;
  padding: 7px 10px;
  height: max-content;
  line-height: 40px;
}

thead tr td:nth-child(n) {
  padding: 5px;
}

.row:hover {
  background-color: #ececff;
  cursor: pointer;
}