.mainpage_user_info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 20px;
  width: 100%;
  background-color: #ffffff;
}

.title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: #191c1e;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.mainpage_user_info .content {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 20px;
  width: 100%;
}
.content .left_section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.content .right_section {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  border-radius: 5px;
  background-color: var(--gray-00);
  border: 1px solid;
  border-color: var(--gray-100);
  padding-bottom: 10px;
  height: 100%;
}

.left_section .left_upper {
  width: 100%;
  border: 1px solid;
  border-color: var(--gray-100);
}
.left_upper .title_info {
  padding: 10px;
  border-bottom: 1px solid;
  border-color: var(--gray-100);
  background-color: var(--gray-00);
  font-family: "Josefin Sans";
  font-weight: 600;
  color: var(--gray-900);
  font-size: var(--label-03-font-size);
  letter-spacing: var(--label-03-letter-spacing);
  line-height: var(--label-03-line-height);
  white-space: nowrap;
  font-style: var(--label-03-font-style);
}

.upper_rest {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: var(--gray-00);
}

.title_profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.img {
  width: 48px;
}

.profile_info {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 600;
  color: #191c1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.school {
  font-weight: 400;
  color: #5f6c72;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.contact {
  font-weight: 400;
  color: #191c1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  border-radius: 2px;
  border: 2px solid;
  border-color: #86B6F6;
  font-family: "Josefin Sans";
  font-weight: var(--heading-07-font-weight);
  background-color: #86B6F6;
  color: #EEF5FF;
  font-size: var(--heading-07-font-size);
  letter-spacing: var(--heading-07-letter-spacing);
  line-height: var(--heading-07-line-height);
  white-space: nowrap;
  font-style: var(--heading-07-font-style);
  cursor: pointer;
}

.button:hover {
  background-color: #fff;
  color: #86B6F6;
}

.ordered {
  width: 100%;
  display: flex;
  background-color: aquamarine;
  background-color: var(--secondary-50);
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

.rocket_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: var(--gray-00);
  border-radius: 2px;
}

.ordered_content {
  display: flex;
  flex-direction: column;
}

.num {
  font-weight: 600;
  color: #191c1e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}

.text {
  font-weight: 400;
  color: #475156;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.order_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.title_right {
  padding: 10px;
  width: 100%;
  text-align: left;
  font-family: "Josefin Sans";
  font-weight: 600;
  color: var(--gray-900);
  font-size: var(--label-03-font-size);
  letter-spacing: var(--label-03-letter-spacing);
  line-height: var(--label-03-line-height);
  white-space: nowrap;
  font-style: var(--label-03-font-style);
}

.pagination {
  display: block;
  width: max-content;
  margin: 0 auto;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  & p {
    color: black;
    float: left;
    height: 40px;
    aspect-ratio: 1 / 1;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray-100, #e4e7e9);
    background: var(--gray-00, #fff);
  }

  & p.active {
    color: #ffffff;
    background: var(--primary-500, #fa8232);
  }

  & p.arrow {
    color: #fa8232;
    border: 1.5px solid var(--primary-500, #fa8232);
  }

  .arrow:hover {
    color: #ffffff;
    background: var(--primary-500, #fa8232);
  }

  & p:hover:not(.active, .arrow) {
    background-color: #ddd;
  }
}

.rating_wrapper {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
}
.user_rating {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 30%;
  left: 50%;
  width: 1016px;
  height: 275px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid;
  border-color: #00000033;
}

.rating_left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 14px 5px 14px 11.5px;
  width: 258.5px;
  height: 100%;
  align-items: center;
  border-right: solid 1px;
  border-color: #00000033;
}

.rating_left .name {
  font-weight: 550;
  color: #044876;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
  white-space: normal;
}

.rating_left .img {
  width: 142px;
  height: 159px;
  border: 1px solid;
}

.rating_left .price {
  font-weight: 550;
  color: #475156;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.rating_right {
  width: 100%;
}

.title_star {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 102px;
  margin-top: 22px;
  margin-right: 80.5px;
  height: 36px;
}

.title_star .title1 {
  width: 365px;
  font-weight: 550;
  color: #044876;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}

div.stars {
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 2px;
  font-size: 25px;
  color: #444;
  transition: all 0.2s;
}

input.star:checked ~ label.star:before {
  content: "\f005";
  color: #fd4;
  transition: all 0.25s;
}

input.star-5:checked ~ label.star:before {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
  color: #f62;
}

label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  margin-left: -2px;
  content: "\f006";
  font-family: FontAwesome;
}
.rating {
  display: flex;
  font-weight: 400;
  color: #76868e;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  margin-left: 40px;
  transform: scale(1.3);
}

.comment_box {
  width: 701px;
  height: 140px;
  margin: 5px 33px 23.5px;
  border-radius: 7px;
  border: 1px solid;
  border-color: #00000029;
}
.comment_box textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  resize: none;
  font-weight: 500;
  color: black;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: wrap;
}

.button_area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  height: 39px;
  width: 194px;
}

.cancel {
  height: 100%;
  width: 70px;
  background-color: #d1253a;
  border-radius: 7px;
  border: 1px solid;
  border-color: #00000033;
  color: white;
}

.submit {
  height: 100%;
  width: 96px;
  background-color: #429bd5;
  border-radius: 7px;
  border: 1px solid;
  border-color: #00000033;
  color: white;
}

.popup_wrapper {
  display: block;
  width: 424px;
  height: 247px;
}
.success_popup {
  display: flex;
  flex-direction: column;
  width: 424px;
  height: 247px;
  background-color: #d1253a;
  background-color: var(--gray-00);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--gray-100);
  box-shadow: var(--dropdown-shadow);
}

.pop_up {
  text-align: center;
  padding: 16px 0;
  height: 60px;
  width: 100%;
  box-shadow: inset 0px -3px 0px #f98131, inset 0px 1px 0px #e4e7e9,
    inset 1px 0px 0px #e4e7e9;
  font-family: "Josefin Sans";
  font-weight: var(--body-XL-600-font-weight);
  color: var(--gray-900);
  font-size: var(--body-XL-600-font-size);
  text-align: center;
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  font-style: var(--body-XL-600-font-style);
}

.pop_down {
  padding: 22px 45px;
  text-align: center;
  height: 84px;
  width: 100%;
  font-weight: bold;
  color: #191c1e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
}

.done {
  color: white;
  width: 118px;
  height: 34px;
  margin: 30px auto;
  background-color: #1b6392;
  border-radius: 2px;
  box-sizing: border-box;
}

.change-info-side {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.change-info-popup {
  padding: 20px 50px 20px 50px;
  border: 2px solid black;
  width: 50%;
  background: white;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.change-info-side form {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
}

.change-info-side div {
  position: relative;
}

.change-info-side input {
  outline: 1.5px solid black;
  border-radius: 3px;
  height: 40px;
  width: 100%;
  text-indent: 10px;
}


.change-info-side input ~ label {
  position: absolute;
  left: 8px;
  top: -10px;
  z-index: 1;
  background-color: white;
}

.change-info-side .btn-group {
  margin: 0 auto;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.change-info-side .btn-group button {
  padding: 15px 25px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.192px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

.btn-group button#confirm-change {
  border-radius: 3px;
  border: 2px solid #144e74;
  background: #044876;
}

.btn-group button#cancel-change {
  border-radius: 3px;
  border: 2px solid #f55b5b;
  background: #f55b5b;
}

.change-info-side .btn-group button:hover {
  transform: scale(1.1);
}

.change-info-side .success {
  display: block;
  padding: 0;
  margin: 0;
  width: 400px;
}

.change-info-side .success h1 {
  margin: 0;
  padding: 16px 0px;
  text-align: center;
  color: var(--gray-900, #191c1f);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px; /* 140% */
  background: var(--gray-00, #fff);
  box-shadow: 0px -3px 0px 0px #fa8232 inset, 0px 1px 0px 0px #e4e7e9 inset,
    1px 0px 0px 0px #e4e7e9 inset;
}

.change-info-side .success .text {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  color: var(--gray-900, #191c1f);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-block: 10px;
}

.change-info-side .success button {
  border-radius: 3px;
  background: #044876;
  width: 90%;
  margin: 0 auto 30px auto;
  color: var(--gray-00, #fff);
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.168px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

.change-info-side .wrapper {
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--gray-100, #e4e7e9);
  background: var(--gray-00, #fff);
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
}

.change-info-side .success button:hover {
    transform: scale(1.03);
    border: 3px;
    background-color: #044876;
}