.confirm-order {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.confirm-order .div {
  background-color: #ffffff;
  width: 1280px;
  height: 2130px;
  position: relative;
}

.confirm-order .end-end {
  position: absolute;
  width: 590px;
  height: 44px;
  top: 2069px;
  left: 337px;
}

.confirm-order .image {
  position: absolute;
  width: 52px;
  height: 22px;
  top: 11px;
  left: 13px;
  object-fit: cover;
}

.confirm-order .img {
  position: absolute;
  width: 52px;
  height: 22px;
  top: 11px;
  left: 92px;
  object-fit: cover;
}

.confirm-order .image-2 {
  position: absolute;
  width: 68px;
  height: 16px;
  top: 14px;
  left: 189px;
  object-fit: cover;
}

.confirm-order .image-3 {
  position: absolute;
  width: 68px;
  height: 16px;
  top: 14px;
  left: 307px;
  object-fit: cover;
}

.confirm-order .image-4 {
  position: absolute;
  width: 68px;
  height: 16px;
  top: 14px;
  left: 409px;
  object-fit: cover;
}

.confirm-order .image-5 {
  position: absolute;
  width: 68px;
  height: 16px;
  top: 14px;
  left: 511px;
  object-fit: cover;
}

.confirm-order .end {
  position: absolute;
  width: 1280px;
  height: 385px;
  top: 1668px;
  left: 0;
  background-color: #1b6392;
}

.confirm-order .frame {
  position: absolute;
  width: 112px;
  height: 268px;
  top: 80px;
  left: 484px;
  overflow: hidden;
}

.confirm-order .trinh-th-m-kinh-d-t {
  position: absolute;
  width: 146px;
  top: 69px;
  left: 10px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #adb7bc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.confirm-order .text-wrapper {
  position: absolute;
  top: 3px;
  left: 10px;
  font-family: var(--heading-03-font-family);
  font-weight: var(--heading-03-font-weight);
  color: #ffffff;
  font-size: var(--heading-03-font-size);
  letter-spacing: var(--heading-03-letter-spacing);
  line-height: var(--heading-03-line-height);
  white-space: nowrap;
  font-style: var(--heading-03-font-style);
}

.confirm-order .frame-2 {
  position: absolute;
  width: 131px;
  height: 172px;
  top: 77px;
  left: 697px;
  overflow: hidden;
}

.confirm-order .truy-n-ch-truy-n {
  position: absolute;
  width: 146px;
  top: 72px;
  left: 8px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #adb7bc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.confirm-order .text-wrapper-2 {
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: var(--heading-03-font-family);
  font-weight: var(--heading-03-font-weight);
  color: #ffffff;
  font-size: var(--heading-03-font-size);
  letter-spacing: var(--heading-03-letter-spacing);
  line-height: var(--heading-03-line-height);
  white-space: nowrap;
  font-style: var(--heading-03-font-style);
}

.confirm-order .frame-3 {
  position: absolute;
  width: 191px;
  height: 95px;
  top: 80px;
  left: 934px;
  overflow: hidden;
}

.confirm-order .text-wrapper-3 {
  position: absolute;
  width: 185px;
  top: 69px;
  left: 6px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #adb7bc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: underline;
}

.confirm-order .text-wrapper-4 {
  position: absolute;
  top: 3px;
  left: 6px;
  font-family: var(--heading-03-font-family);
  font-weight: var(--heading-03-font-weight);
  color: #ffffff;
  font-size: var(--heading-03-font-size);
  letter-spacing: var(--heading-03-letter-spacing);
  line-height: var(--heading-03-line-height);
  white-space: nowrap;
  font-style: var(--heading-03-font-style);
}

.confirm-order .frame-4 {
  position: absolute;
  width: 277px;
  height: 150px;
  top: 50px;
  left: 133px;
}

.confirm-order .logo {
  position: absolute;
  width: 240px;
  height: 85px;
  top: 3px;
  left: 10px;
}

.confirm-order .image-6 {
  position: absolute;
  width: 93px;
  height: 85px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.confirm-order .logo-2 {
  display: flex;
  width: 125px;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 25px;
  left: 115px;
}

.confirm-order .CLICON {
  position: relative;
  width: fit-content;
  margin-top: -3.5px;
  margin-bottom: -1.5px;
  margin-left: -7px;
  margin-right: -7px;
  font-family: "Public Sans", Helvetica;
  font-weight: 700;
  color: var(--gray-00);
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: 40px;
  white-space: nowrap;
}

.confirm-order .i-h-c-qu-c-gia-TP {
  position: absolute;
  width: 256px;
  top: 99px;
  left: 21px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #adb7bc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.confirm-order .product {
  display: flex;
  width: 581px;
  align-items: center;
  gap: 2272px;
  position: absolute;
  top: 136px;
  left: 522px;
}

.confirm-order .product-2 {
  position: relative;
  width: 581px;
  height: 1379px;
}

.confirm-order .product-3 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 366px;
  left: 33px;
  border: 1px solid;
  border-color: #0000003b;
}

.confirm-order .rating {
  display: inline-flex;
  height: 13px;
  align-items: flex-start;
  gap: 2px;
  position: absolute;
  top: 258px;
  left: 12px;
}

.confirm-order .regular-star {
  position: relative;
  width: 12px;
  height: 12px;
}

.confirm-order .regular-star-2 {
  position: relative;
  width: 13px;
  height: 12px;
}

.confirm-order .text-wrapper-5 {
  position: absolute;
  width: 42px;
  top: 253px;
  left: 86px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: var(--gray-500);
  font-size: 10px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.confirm-order .price {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 234px;
  left: 12px;
}

.confirm-order .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: var(--body-small-600-font-weight);
  color: var(--secondary-500);
  font-size: var(--body-small-600-font-size);
  font-family: var(--body-small-600-font-family);
  letter-spacing: var(--body-small-600-letter-spacing);
  line-height: var(--body-small-600-line-height);
  white-space: nowrap;
  font-style: var(--body-small-600-font-style);
}

.confirm-order .name {
  position: absolute;
  width: 196px;
  top: 200px;
  left: 12px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #191c1e;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 15px;
}

.confirm-order .image-7 {
  position: absolute;
  width: 196px;
  height: 176px;
  top: 16px;
  left: 12px;
}

.confirm-order .product-4 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 1011px;
  left: 33px;
  border: 1px solid;
  border-color: #0000003b;
}

.confirm-order .product-5 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 366px;
  left: 301px;
  border: 1px solid;
  border-color: #0000003b;
}

.confirm-order .product-6 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 1011px;
  left: 301px;
  border: 1px solid;
  border-color: #0000003b;
}

.confirm-order .product-7 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 40px;
  left: 33px;
  border: 1px solid;
  border-color: #0000003b;
}

.confirm-order .product-8 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 685px;
  left: 33px;
  border: 1px solid;
  border-color: #0000003b;
}

.confirm-order .product-9 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 40px;
  left: 301px;
  border: 1px solid;
  border-color: #0000003b;
}

.confirm-order .product-10 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 685px;
  left: 301px;
  border: 1px solid;
  border-color: #0000003b;
}

.confirm-order .image-8 {
  position: absolute;
  width: 196px;
  height: 176px;
  top: 16px;
  left: 12px;
  object-fit: cover;
}

.confirm-order .pagination {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 1314px;
  left: 95px;
}

.confirm-order .arrow-button {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  border: 1.5px solid;
  border-color: var(--primary-500);
}

.confirm-order .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.confirm-order .pages {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.confirm-order .pagination-item {
  align-items: flex-start;
  gap: 10px;
  padding: 10px 0px;
  background-color: var(--primary-500);
  border-radius: 100px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.confirm-order .text-wrapper-7 {
  position: relative;
  width: 40px;
  margin-top: -1px;
  font-family: var(--body-small-600-font-family);
  font-weight: var(--body-small-600-font-weight);
  color: var(--gray-00);
  font-size: var(--body-small-600-font-size);
  text-align: center;
  letter-spacing: var(--body-small-600-letter-spacing);
  line-height: var(--body-small-600-line-height);
  font-style: var(--body-small-600-font-style);
}

.confirm-order .element-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 0px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--gray-00);
  border-radius: 100px;
  border: 1px solid;
  border-color: var(--gray-100);
}

.confirm-order .element {
  position: relative;
  width: 40px;
  margin-top: -1px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-900);
  font-size: var(--body-small-400-font-size);
  text-align: center;
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-style: var(--body-small-400-font-style);
}

.confirm-order .p {
  position: absolute;
  width: 360px;
  top: -1px;
  left: 0;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: var(--gray-900);
  font-size: var(--body-XL-600-font-size);
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  font-style: var(--body-XL-600-font-style);
}

.confirm-order .seller {
  position: absolute;
  width: 356px;
  height: 258px;
  top: 136px;
  left: 126px;
}

.confirm-order .overlap-group {
  position: relative;
  width: 352px;
  height: 258px;
}

.confirm-order .sign-in-popup-wrapper {
  height: 258px;
  position: absolute;
  width: 352px;
  top: 0;
  left: 0;
}

.confirm-order .sign-in-popup {
  display: flex;
  flex-direction: column;
  width: 352px;
  height: 258px;
  align-items: flex-start;
  gap: 24px;
  padding: 32px;
  position: relative;
  background-color: var(--gray-00);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-100);
  box-shadow: var(--dropdown-shadow);
}

.confirm-order .log-in {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -72px;
}

.confirm-order .sign-in-to-your {
  position: relative;
  width: 360px;
  margin-top: -1px;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: var(--gray-900);
  font-size: var(--body-XL-600-font-size);
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  font-style: var(--body-XL-600-font-style);
}

.confirm-order .tham-gia-t {
  position: absolute;
  top: 107px;
  left: 118px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
}

.confirm-order .text-wrapper-8 {
  position: absolute;
  width: 202px;
  top: 75px;
  left: 117px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: #044876;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.confirm-order .frame-5 {
  position: absolute;
  width: 79px;
  height: 79px;
  top: 71px;
  left: 27px;
  border-radius: 100px;
  border: 1px solid;
  border-color: #000000;
  background-image: url(./img/frame-8.png);
  background-size: cover;
  background-position: 50% 50%;
}

.confirm-order .button {
  display: flex;
  width: 270px;
  height: 57px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 24px;
  position: absolute;
  top: 185px;
  left: 29px;
  background-color: #1b6392;
  border-radius: 2px;
}

.confirm-order .label {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-07-font-family);
  font-weight: var(--heading-07-font-weight);
  color: var(--gray-00);
  font-size: var(--heading-07-font-size);
  letter-spacing: var(--heading-07-letter-spacing);
  line-height: var(--heading-07-line-height);
  white-space: nowrap;
  font-style: var(--heading-07-font-style);
}

.confirm-order .regular-arrowright {
  position: relative;
  width: 20px;
  height: 20px;
}

.confirm-order .feedback {
  display: flex;
  position: absolute;
  width: 352px;
  height: 311px;
  top: 498px;
  left: 126px;
}

.confirm-order .overlap {
  position: relative;
  height: 311px;
}

.confirm-order .div-wrapper {
  height: 311px;
  position: absolute;
  width: 352px;
  top: 0;
  left: 0;
}

.confirm-order .sign-in-popup-2 {
  display: flex;
  flex-direction: column;
  width: 352px;
  height: 311px;
  align-items: flex-start;
  gap: 24px;
  padding: 20px 32px;
  position: relative;
  background-color: var(--gray-00);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-100);
  box-shadow: var(--dropdown-shadow);
}

.confirm-order .rating-2 {
  position: absolute;
  width: 257px;
  height: 28px;
  top: 53px;
  left: 29px;
}

.confirm-order .rating-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.confirm-order .regular-star-3 {
  position: relative;
  width: 28px;
  height: 28px;
}

.confirm-order .regular-star-4 {
  position: relative;
  width: 31px;
  height: 28px;
}

.confirm-order .text-wrapper-9 {
  position: absolute;
  width: 87px;
  top: 3px;
  left: 168px;
  font-weight: 400;
  color: var(--gray-500);
  font-size: 20px;
  font-family: "Public Sans", Helvetica;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.confirm-order .button-2 {
  display: flex;
  width: 270px;
  height: 57px;
  padding: 0px 24px;
  position: absolute;
  top: 238px;
  left: 29px;
  background-color: #1b6392;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.confirm-order .label-2 {
  position: relative;
  width: fit-content;
  font-family: var(--heading-07-font-family);
  font-weight: var(--heading-07-font-weight);
  color: var(--gray-00);
  font-size: var(--heading-07-font-size);
  letter-spacing: var(--heading-07-letter-spacing);
  line-height: var(--heading-07-line-height);
  white-space: nowrap;
  font-style: var(--heading-07-font-style);
}

.confirm-order .frame-6 {
  position: absolute;
  width: 270px;
  height: 135px;
  top: 88px;
  left: 30px;
  background-color: #efeaea;
}

.confirm-order .text-wrapper-10 {
  position: absolute;
  width: 48px;
  top: 12px;
  left: 13px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: var(--gray-500);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.confirm-order .text-wrapper-11 {
  top: 35px;
  position: absolute;
  width: 48px;
  left: 13px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: var(--gray-500);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.confirm-order .text-wrapper-12 {
  top: 58px;
  position: absolute;
  width: 48px;
  left: 13px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: var(--gray-500);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.confirm-order .text-wrapper-13 {
  top: 81px;
  position: absolute;
  width: 48px;
  left: 13px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: var(--gray-500);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.confirm-order .text-wrapper-14 {
  top: 104px;
  position: absolute;
  width: 48px;
  left: 13px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: var(--gray-500);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.confirm-order .frame-7 {
  position: absolute;
  width: 194px;
  height: 16px;
  top: 15px;
  left: 62px;
  background-color: #d6cdcd;
}

.confirm-order .frame-8 {
  position: absolute;
  width: 174px;
  height: 16px;
  top: 38px;
  left: 62px;
  background-color: #d6cdcd;
}

.confirm-order .frame-9 {
  position: absolute;
  width: 32px;
  height: 16px;
  top: 61px;
  left: 62px;
  background-color: #d6cdcd;
}

.confirm-order .frame-10 {
  position: absolute;
  width: 20px;
  height: 16px;
  top: 84px;
  left: 62px;
  background-color: #d6cdcd;
}

.confirm-order .frame-11 {
  position: absolute;
  width: 8px;
  height: 16px;
  top: 107px;
  left: 62px;
  background-color: #d6cdcd;
}

.confirm-order .navigation {
  position: absolute;
  width: 1280px;
  height: 98px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.confirm-order .mid-nav {
  position: absolute;
  width: 1280px;
  height: 50px;
  top: 48px;
  left: 0;
  background-color: #1b6392;
}

.confirm-order .searchbar {
  display: flex;
  width: 385px;
  height: 27px;
  align-items: flex-start;
  gap: 8px;
  padding: 4px 20px 14px;
  position: absolute;
  top: 12px;
  left: 425px;
  background-color: var(--gray-00);
  border-radius: 2px;
  box-shadow: 0px 8px 32px #00000014;
}

.confirm-order .text-wrapper-15 {
  position: relative;
  width: 321px;
  margin-top: -1px;
  margin-bottom: -10px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-500);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-style: var(--body-small-400-font-style);
}

.confirm-order .magnifying-glass {
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: -11px;
  margin-right: -4px;
}

.confirm-order .icons {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 9px;
  left: 982px;
}

.confirm-order .image-9 {
  position: relative;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.confirm-order .notification {
  position: relative;
  width: 33px;
  height: 33px;
}

.confirm-order .regular-user {
  position: relative;
  width: 32px;
  height: 32px;
}

.confirm-order .logo-3 {
  position: absolute;
  width: 126px;
  height: 35px;
  top: 8px;
  left: 126px;
}

.confirm-order .image-10 {
  position: absolute;
  width: 38px;
  height: 35px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.confirm-order .logo-4 {
  display: flex;
  width: 79px;
  height: 23px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 6px;
  left: 47px;
}

.confirm-order .CLICON-2 {
  position: relative;
  width: fit-content;
  margin-top: -9.7px;
  margin-bottom: -7.7px;
  margin-left: -4.23px;
  margin-right: -4.23px;
  font-family: "Public Sans", Helvetica;
  font-weight: 700;
  color: var(--gray-00);
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: 40px;
  white-space: nowrap;
}

.confirm-order .top-nav {
  position: absolute;
  width: 1280px;
  height: 47px;
  top: 0;
  left: 0;
  background-color: #1b6392;
}

.confirm-order .right-content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 9px;
  left: 865px;
}

.confirm-order .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-00);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.confirm-order .line {
  position: relative;
  width: 1px;
  height: 28px;
  object-fit: cover;
}

.confirm-order .welcome {
  position: absolute;
  top: 14px;
  left: 137px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: #ffffff;
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.confirm-order .popup {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  width: 856px;
  align-items: center;
  padding: 0px 0px 24px;
  position: fixed;
  top: 64px;
  left: 212px;
  background-color: var(--gray-00);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-100);
  overflow-x: scroll;
  display: none;
}

.confirm-order .heading {
  display: flex;
  flex-direction: column;
  width: 856px;
  height: 90px;
  align-items: flex-start;
  position: relative;
}

.confirm-order .heading-2 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 4px 4px 0px 0px;
}

.confirm-order .billing-address {
  position: absolute;
  top: 15px;
  left: 24px;
  font-family: var(--label-03-font-family);
  font-weight: var(--label-03-font-weight);
  color: var(--gray-900);
  font-size: var(--label-03-font-size);
  letter-spacing: var(--label-03-letter-spacing);
  line-height: var(--label-03-line-height);
  white-space: nowrap;
  font-style: var(--label-03-font-style);
}

.confirm-order .ng {
  position: absolute;
  padding: 2px;
  top: 15px;
  left: 799px;
  font-family: var(--label-03-font-family);
  font-weight: var(--label-03-font-weight);
  color: var(--gray-900);
  font-size: var(--label-03-font-size);
  letter-spacing: var(--label-03-letter-spacing);
  line-height: var(--label-03-line-height);
  white-space: nowrap;
  font-style: var(--label-03-font-style);
}

.confirm-order .navbar {
  display: flex;
  width: 856px;
  align-items: flex-start;
  gap: 24px;
  padding: 10px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--gray-50);
  border: 1px solid;
  border-color: var(--gray-100);
}

.confirm-order .m-v-n-n {
  position: relative;
  width: 124px;
  margin-top: -1px;
  font-family: var(--label-04-font-family);
  font-weight: var(--label-04-font-weight);
  color: var(--gray-700);
  font-size: var(--label-04-font-size);
  letter-spacing: var(--label-04-letter-spacing);
  line-height: var(--label-04-line-height);
  font-style: var(--label-04-font-style);
}

.confirm-order .tr-ng-th-i {
  position: relative;
  width: 152px;
  margin-top: -1px;
  font-family: var(--label-04-font-family);
  font-weight: var(--label-04-font-weight);
  color: var(--gray-700);
  font-size: var(--label-04-font-size);
  letter-spacing: var(--label-04-letter-spacing);
  line-height: var(--label-04-line-height);
  font-style: var(--label-04-font-style);
}

.confirm-order .th-i-gian {
  position: relative;
  width: 179px;
  height: 16px;
  margin-top: -1px;
  font-family: var(--label-04-font-family);
  font-weight: var(--label-04-font-weight);
  color: var(--gray-700);
  font-size: var(--label-04-font-size);
  letter-spacing: var(--label-04-letter-spacing);
  line-height: var(--label-04-line-height);
  white-space: nowrap;
  font-style: var(--label-04-font-style);
}

.confirm-order .thanh-to-n {
  position: relative;
  width: 125px;
  margin-top: -1px;
  font-family: var(--label-04-font-family);
  font-weight: var(--label-04-font-weight);
  color: var(--gray-700);
  font-size: var(--label-04-font-size);
  letter-spacing: var(--label-04-letter-spacing);
  line-height: var(--label-04-line-height);
  font-style: var(--label-04-font-style);
}

.confirm-order .h-nh-ng {
  position: relative;
  width: 116px;
  margin-top: -1px;
  font-family: var(--label-04-font-family);
  font-weight: var(--label-04-font-weight);
  color: var(--gray-700);
  font-size: var(--label-04-font-size);
  letter-spacing: var(--label-04-letter-spacing);
  line-height: var(--label-04-line-height);
  font-style: var(--label-04-font-style);
}

.confirm-order .product-11 {
  display: flex;
  flex-direction: column;
  width: 856px;
  align-items: flex-start;
  padding: 12px 0px 24px;
  position: relative;
  flex: 0 0 auto;
}

.confirm-order .navbar-2 {
  display: flex;
  width: 856px;
  height: 44px;
  align-items: flex-start;
  gap: 24px;
  padding: 12px 24px;
  position: relative;
}

.confirm-order .element-2 {
  width: 124px;
  font-weight: var(--body-small-500-font-weight);
  color: var(--gray-900);
  position: relative;
  margin-top: -1px;
  font-family: var(--body-small-500-font-family);
  font-size: var(--body-small-500-font-size);
  letter-spacing: var(--body-small-500-letter-spacing);
  line-height: var(--body-small-500-line-height);
  font-style: var(--body-small-500-font-style);
}

.confirm-order .IN-PROGRESS {
  position: relative;
  width: 152px;
  margin-top: -1px;
  font-family: var(--body-small-600-font-family);
  font-weight: var(--body-small-600-font-weight);
  color: var(--primary-500);
  font-size: var(--body-small-600-font-size);
  letter-spacing: var(--body-small-600-letter-spacing);
  line-height: var(--body-small-600-line-height);
  font-style: var(--body-small-600-font-style);
}

.confirm-order .text-wrapper-17 {
  width: 181px;
  height: 19px;
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-600);
  white-space: nowrap;
  position: relative;
  margin-top: -1px;
  font-family: var(--body-small-400-font-family);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-style: var(--body-small-400-font-style);
}

.confirm-order .text-wrapper-18 {
  width: 124px;
  height: 10px;
  color: var(--gray-700);
  position: relative;
  margin-top: -1px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.confirm-order .button-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 10px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -5px;
  all: unset;
  box-sizing: border-box;
}

.confirm-order .IN-PROGRESS-2 {
  position: relative;
  width: 152px;
  margin-top: -1px;
  font-family: var(--body-small-600-font-family);
  font-weight: var(--body-small-600-font-weight);
  color: var(--success-500);
  font-size: var(--body-small-600-font-size);
  letter-spacing: var(--body-small-600-letter-spacing);
  line-height: var(--body-small-600-line-height);
  font-style: var(--body-small-600-font-style);
}

.confirm-order .text-wrapper-19 {
  width: 181px;
  height: 18px;
  color: var(--gray-600);
  position: relative;
  margin-top: -1px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.confirm-order .button-4 {
  display: inline-flex;
  padding: 0px 10px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  gap: 8px;
  all: unset;
  box-sizing: border-box;
}

.popup .pagination-2 {
  align-items: center;
  justify-content: center;
  gap: 20px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  left: 40%;
}
.container {
  width: 385px;
  height: 27px;
  top: 12px;
  left: 425px;
  display: flex;
  align-items: flex-start;
  position: absolute;
}

/* The point of this tutorial is here */
.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 2px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

div.stars {
  width: 160px;
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 2px;
  font-size: 25px;
  color: #444;
  transition: all 0.2s;
}

input.star:checked ~ label.star:before {
  content: "\f005";
  color: #fd4;
  transition: all 0.25s;
}

input.star-5:checked ~ label.star:before {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
  color: #f62;
}

label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  margin-left: -2px;
  content: "\f006";
  font-family: FontAwesome;
}
